<template>
  <filter-block>
    <template #visible>
      <div class="col-12 col-md-4 col-lg">
        <v-radio-button
          :value="objectWithoutPrice"
          :options="objectWithoutPriceList"
          @input="
            CHANGE_QUERY({
              ...$route.query,
              currentPage: 1,
              objectWithoutPrice: $event
            })
          "
          title="Только с ценой"
        />
      </div>
      <div class="col-12 col-md-4 col-lg">
        <v-range-slider
          :value="area"
          @change="
            CHANGE_QUERY({ ...$route.query, currentPage: 1, area: [$event] })
          "
          :min="0"
          :max="maxArea"
          postFix="м²"
        >
          Площадь
        </v-range-slider>
      </div>
      <div class="col-12 col-md-4 col-lg">
        <v-range-slider
          :value="price"
          @change="
            CHANGE_QUERY({ ...$route.query, currentPage: 1, price: [$event] })
          "
          :min="0"
          :max="maxPrice"
        >
          <v-select
            :value="currency"
            :option="currencyList"
            @input="
              CHANGE_QUERY({
                ...$route.query,
                currentPage: 1,
                currency: $event
              })
            "
          />
        </v-range-slider>
      </div>
      <div class="col-12 col-md-6 col-lg">
        <v-multi-select
          :value="districts"
          :option="districtsList"
          @input="
            CHANGE_QUERY({
              ...$route.query,
              currentPage: 1,
              districts: [$event]
            })
          "
          placeholder="Все районы"
          title="Район"
          :readonly="is_readonly"
        />
      </div>
      <div class="col-12 col-md-6 col-lg">
        <v-select
          :value="finishing"
          :option="finishingList"
          @input="
            CHANGE_QUERY({ ...$route.query, currentPage: 1, finishing: $event })
          "
          title="Отделка"
        />
      </div>
    </template>

    <template #hidden>
      <div class="col-12 col-md-6 col-lg"></div>
      <div class="col-12 col-md-6 col-lg"></div>
      <div class="col-12 col-md-6 col-lg"></div>
      <div class="col-12 col-md-6 col-lg"></div>
    </template>
  </filter-block>
</template>

<script>
  import filterBlock from '@/components/Categories/filterBlock'
  import vRadioButton from '@/components/v-modules/v-radio-button'
  import vRangeSlider from '@/components/v-modules/v-range-slider'
  import vMultiSelect from '@/components/v-modules/v-multi-select'
  import vSelect from '@/components/v-modules/v-select'

  import { mapState, mapActions, mapGetters } from 'vuex'

  export default {
    name: 'flat-new-filter',
    data() {
      return {
        currencyList: [
          { label: 'Цена за объект в ₽', value: 'rub' },
          { label: 'Цена за объект в $', value: 'usd' },
          { label: 'Цена за объект в €', value: 'eur' }
        ],
        finishingList: [
          { label: 'Все варианты', value: '' },
          { label: 'С отделкой', value: 'yes' },
          { label: 'Без отделки', value: 'no' }
        ],
        objectWithoutPriceList: [
          { label: 'Да', value: 'yes' },
          { label: 'Нет', value: 'no' }
        ]
      }
    },
    computed: {
      ...mapState('offers', [
        'districts',
        'finishing',
        'objectWithoutPrice',
        'currency',
        'price',
        'maxPrice',
        'area',
        'maxArea'
      ]),
      ...mapGetters('districts', ['districtsList']),
      is_readonly() {
        return !!this.$route.params?.district
      }
    },
    methods: {
      ...mapActions('offers', ['CHANGE_QUERY'])
    },
    components: {
      filterBlock,
      vRangeSlider,
      vMultiSelect,
      vSelect,
      vRadioButton
    }
  }
</script>
