<template>
  <div>
    <v-bread-crumbs title="Элитные новостройки" />
  </div>
</template>

<script>
  import vBreadCrumbs from '@/components/v-modules/v-breadcrumbs'

  export default {
    components: { vBreadCrumbs }
  }
</script>
