/*!
 * Bootstrap Grid v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/
  @-ms-viewport
    width device-width // stylelint-disable-line at-rule-no-vendor-prefix
html
  box-sizing border-box
  -ms-overflow-style scrollbar
*,
*::before,
*::after
  box-sizing inherit

@import '_functions'
@import '_variables'
@import 'mixins/_breakpoints'
@import 'mixins/_grid-framework'
@import 'mixins/_grid'
@import '_grid'
