<template>
  <ul vocab="http://schema.org/" typeof="BreadcrumbList">
    <li property="itemListElement" typeof="ListItem">
      <NuxtLink property="item" typeof="WebPage" to="/">
        <span property="name">Главная</span>
      </NuxtLink>
      <meta property="position" content="1" />
    </li>
    <li
      v-for="(crumb, index) in crumbs"
      :key="index"
      property="itemListElement"
      typeof="ListItem"
    >
      <NuxtLink property="item" typeof="WebPage" :to="crumb.path">
        <span property="name">{{
          $route.fullPath === crumb.path && title !== null ? title : crumb.title
        }}</span>
      </NuxtLink>
      <meta property="position" :content="index + 2" />
    </li>
  </ul>
</template>

<script>
  export default {
    props: {
      title: {
        type: String,
        default: null
      }
    },
    computed: {
      crumbs() {
        const fullPath = this.$route.fullPath
        const params = fullPath.startsWith('/')
          ? fullPath.substring(1).split('/')
          : fullPath.split('/')
        const crumbs = []
        let path = ''
        params.forEach((param, index) => {
          path = `${path}/${param}`
          const match = this.$router.match(path)
          console.log(match)
          if (match.name !== null) {
            crumbs.push({
              title: match.name,
              ...match
            })
          }
        })
        return crumbs
      }
    }
  }
</script>
