<template>
  <div class="v-currency">
    <label
      v-for="(item, index) in options"
      :key="index"
      class="v-currency__label"
    >
      <input
        type="radio"
        name="currency"
        :value="item.value"
        :checked="item.value === value"
        @change="$emit('input', item.value)"
      />
      <span
        class="v-currency__btn"
        v-html="require(`@/static/images/ui-ux/${item.image}?include`)"
      >
      </span>
    </label>
  </div>
</template>

<script>
  export default {
    name: 'v-currency',
    data() {
      return {
        options: [
          {
            image: 'currency_rub.svg',
            value: 'rub'
          },
          {
            image: 'currency_usd.svg',
            value: 'usd'
          },
          {
            image: 'currency_eur.svg',
            value: 'eur'
          }
        ]
      }
    },
    props: {
      value: {
        type: String,
        default: 'rub'
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .v-currency
    display flex
    justify-content space-between

    &__label
      display flex
      justify-content center
      align-items center
      cursor pointer
      padding 0 10px

    &__btn
      width 25px
      height 25px

      /deep/ svg
        max-width 100%
        max-height 100%
        fill $color-gray-secondary
        transition fill ease-in .2s

    input[type="radio"]
      display none

    input[type="radio"]:checked ~ .v-currency__btn
      /deep/ svg
        fill $color-red-secondary

    input[type="radio"]:not(:checked) ~ .v-currency__btn:hover
      /deep/ svg
        fill $color-red-secondary
</style>
