<template>
  <div class="v-field" :class="className">
    <label class="v-field__label">
      <input
        type="checkbox"
        class="v-field__checkbox"
        :checked="value"
        @change="change($event.target.checked)"
      />
      <span class="v-field__checkbox_text">
        <span class="_check"></span>
        Я даю согласие на обработку&nbsp;
        <a
          class="v-field__checkbox_link"
          :href="hrefToRules"
          target="_blank"
          rel="nofollow noopener noreferrer"
        >
          персональных данных
        </a>
      </span>
    </label>
    <p class="v-field__error-text" v-if="requiredError">
      &#215; {{ requiredTextError }}
    </p>
  </div>
</template>

<script>
  export default {
    name: 'v-field-checkbox',
    props: {
      className: {
        type: String
      },
      value: {
        type: Boolean
      },
      hrefToRules: {
        type: String,
        default: '/'
      },
      requiredError: {
        type: Boolean,
        default: false
      },
      requiredTextError: {
        type: String,
        default: 'Необходимо подтвердить'
      }
    },
    methods: {
      change(e) {
        this.$emit('input', e)
        this.$emit('resetError')
      }
    }
  }
</script>

<style lang="stylus">
  .v-field

    &__label
      display flex

    &__checkbox
      position absolute
      visibility hidden

      &_text
        display flex
        font-size 12px
        line-height 1
        letter-spacing -0.4px
        cursor pointer
        align-items center

        a
          padding 0 5px
          display contents
          text-decoration underline

        ._check
          display flex
          justify-content center
          align-items center
          width 21px
          height 21px
          border 1px solid $border-color-gray
          border-radius $border-sm
          flex-shrink 0
          margin-right 12px
          padding-bottom 5px
          transition background-color ease-in .2s

          &::after
            content ""
            display block
            width 6px
            height: 12px
            border-style solid
            border-color $default-color-text
            border-width 0 2px 2px 0
            transform rotate(45deg)
            opacity 0
            transition opacity ease-in .2s

      input:checked + &_text ._check
        background-size 11px 8px
        background-position center
        background-repeat no-repeat
        background-color #ebf3d1

        &:after
          opacity 1
</style>
