<template>
  <div class="v-field" :class="className">
    <textarea
      :class="{ 'v-field__textarea': true, error: requiredError || validError }"
      :placeholder="placeholder"
      :value="value"
      @input="$emit('input', $event.target.value)"
      @focus="$emit('resetError')"
    ></textarea>
    <p class="v-field__error-text" v-if="requiredError">
      &#215; {{ requiredTextError }}
    </p>
    <p class="v-field__error-text" v-if="validError">
      &#215; {{ validTextError }}
    </p>
  </div>
</template>

<script>
  export default {
    name: 'v-field-textarea',
    props: {
      placeholder: {
        type: String
      },
      value: {
        type: String
      },
      className: {
        type: String
      },
      requiredError: {
        type: Boolean,
        default: false
      },
      requiredTextError: {
        type: String,
        default: 'Поле обязательно для заполнения'
      },
      validError: {
        type: Boolean,
        default: false
      },
      validTextError: {
        type: String,
        default: 'Поле заполнено некорректно'
      }
    }
  }
</script>

<style lang="stylus">
  .v-field
    position relative
    width 100%
    padding-bottom 25px

    &__textarea
      textarea()

      &.error
        border-color $color-red-secondary
        animation-name bounce
        animation-duration .5s
        animation-delay 0.25s

    &__error-text
      color $color-red-secondary
      position absolute
      bottom 5px
      font-size 12px
      letter-spacing -0.4px
      white-space nowrap

  @keyframes bounce
    0%
      transform translateX(0px)
      timing-function ease-in

    37%
      transform translateX(5px)
      timing-function ease-out

    55%
      transform translateX(-5px)
      timing-function ease-in

    73%
      transform translateX(4px)
      timing-function ease-out

    82%
      transform translateX(-4px)
      timing-function ease-in

    91%
      transform translateX(2px)
      timing-function ease-out

    96%
      transform translateX(-2px)
      timing-function ease-in

    100%
      transform translateX(0px)
      timing-function ease-in
</style>
