<template>
  <div class="v-field">
    <input
      type="file"
      :id="idx"
      class="v-field__file"
      @change="handleFileChange"
    />
    <label v-if="!is_selected" :for="idx" class="v-field__file_btn">
      <span
        v-html="require('@/static/images/ui-ux/paper-clip.svg?include')"
      ></span>
      Выберите файл
    </label>
    <label v-else :for="idx" class="v-field__file_btn">
      <span
        v-html="require('@/static/images/ui-ux/checked.svg?include')"
      ></span>
      Файл выбран
    </label>
  </div>
</template>

<script>
  export default {
    name: 'v-field-textarea',
    data() {
      return {
        is_selected: false
      }
    },
    computed: {
      idx() {
        return Math.random()
      }
    },
    methods: {
      handleFileChange(event) {
        this.is_selected = !!event.target.files.length
        this.$emit('change', event.target.files)
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .v-field
    position relative
    width 100%
    padding-bottom 25px

    &__file
      opacity 0
      visibility hidden
      position absolute

      &_btn
        width 100%
        max-width 220px
        height 62px
        display flex
        align-items center
        justify-content center
        border-radius 2px
        border solid 1px $border-color-gray
        cursor pointer
        transition background-color ease-in .2s

        &:hover
          background-color $border-color-gray

        /deep/ span
          width 25px
          height 25px
          margin-right 10px

          svg
            width 100%
            height 100%
</style>
