<template>
  <div v-if="label" class="card-label">
    <span v-if="label === 'new'" class="card-label__item _new">NEW</span>
    <span v-if="label === 'sale'" class="card-label__item _sale">SALE</span>
  </div>
</template>

<script>
  export default {
    props: {
      label: {
        type: String
      }
    }
  }
</script>

<style lang="stylus">
  .card-label
    display flex
    position absolute
    width 100%
    padding 10px
    z-index 2

    &__item
      display flex
      justify-content center
      align-items center
      width 55px
      height 55px
      margin-right 10px
      border-radius 50%
      color #fff
      font-size 18px
      font-weight 500
      text-transform uppercase

      &._new
        background-color alpha(#ffd800, .7)

      &._sale
        background-color alpha($color-red-secondary, .7)
</style>
