<template>
  <span class="like" @click.stop="SAVE_FAVORITES(id)">
    <transition name="pop">
      <span
        v-if="!active"
        class="like_icon"
        v-html="require('@/static/images/ui-ux/favorit.svg?include')"
      ></span>
    </transition>
    <transition name="pop">
      <span
        v-if="active"
        class="like_icon _active"
        v-html="require('@/static/images/ui-ux/favorit_active.svg?include')"
      ></span>
    </transition>
  </span>
</template>

<script>
  import { mapState, mapActions } from 'vuex'

  export default {
    name: 'v-like',
    props: {
      id: {
        type: Number
      }
    },
    computed: {
      ...mapState('localStorage', ['favorites']),
      active() {
        return this.favorites.find(el => el === this.id)
      }
    },
    methods: {
      ...mapActions('localStorage', ['SAVE_FAVORITES'])
    }
  }
</script>

<style lang="stylus">
  .like
    position relative
    cursor pointer

    &_icon
      position absolute

      svg
        width 100%
        height 100%

      path
        fill $color-gray-secondary
        transition all ease-in .2s

      &:hover,
      &._active

        path
          fill $color-red-secondary
</style>
