<template>
  <div :class="['v-select', '_multi', className]">
    <p class="v-select__title" v-if="title">{{ title }}</p>
    <div
      class="v-select__control"
      :class="{ open: isShowList && !readonly, readonly }"
    >
      <div class="v-select__input" @click="isShowList = true">
        {{ visibleResult }}
      </div>
    </div>
    <v-popup :is_open="isShowList && !readonly" @close="isShowList = false">
      <div class="v-select__popup">
        <div class="v-select__popup_control">
          <button
            class="v-select__reset"
            v-if="type === 'checkbox'"
            @click="clear"
          >
            &#215; Очистить фильтр
          </button>
          <button
            class="v-select__close close-circle"
            v-html="require('@/static/images/ui-ux/close.svg?include')"
            @click="isShowList = false"
          ></button>
        </div>
        <ul class="v-select__first-list">
          <li
            class="v-select__first-list_item"
            v-for="(item, index) in option"
            :key="index"
          >
            <span v-if="item.label">{{ item.label }}</span>
            <ul class="v-select__second-list">
              <li
                class="v-select__second-list_item"
                v-for="(el, idx) in item.value"
                :key="idx"
              >
                <input
                  v-model="selected"
                  :type="type"
                  :id="`checkbox_${el.value}`"
                  :value="el.value"
                />
                <label :for="`checkbox_${el.value}`">{{ el.label }}</label>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </v-popup>
  </div>
</template>

<script>
  import _flattenDeep from 'lodash.flattendeep'
  import vPopup from '@/components/v-modules/v-popup'

  export default {
    name: 'v-multi-select',
    data() {
      return {
        isShowList: false,
        selected: this.value
      }
    },
    props: {
      option: {
        type: Object,
        default: () => {}
      },
      value: {
        type: [Array, String],
        default: undefined
      },
      type: {
        validator: value => {
          return ['checkbox', 'radio'].includes(value)
        },
        default: 'checkbox'
      },
      placeholder: {
        type: String
      },
      title: {
        type: String
      },
      className: {
        validator: value => {
          return ['_column', '_row'].includes(value)
        },
        default: '_column'
      },
      readonly: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      flattenArray() {
        return _flattenDeep(
          Object.values(this.option).map(v => Object.values(v))
        ).filter(f => typeof f === 'object')
      },
      labelFromArrayValue() {
        return _flattenDeep(
          this.value.map(v => {
            return this.flattenArray
              .filter(f => f.value === Number(v))
              .map(i => i.label)
          })
        )
      },
      labelFromStringValue() {
        return _flattenDeep(
          this.flattenArray
            .filter(f => f.value === this.value)
            .map(i => i.label)
        )
      },
      visibleResult() {
        if (typeof this.value === 'object') {
          return this.labelFromArrayValue.length >= 2
            ? `Выбрано ${this.labelFromArrayValue.length}`
            : this.labelFromArrayValue[0] || this.placeholder
        }
        return this.labelFromStringValue[0] || this.placeholder
      }
    },
    methods: {
      clear() {
        this.selected = []
      }
    },
    watch: {
      selected(value) {
        this.$emit('input', value)
        if (this.type === 'radio') this.isShowList = false
      }
    },
    components: { vPopup }
  }
</script>

<style lang="stylus">
  ._multi
    .v-select

      &__popup
        background-color #fff
        box-shadow $box-shadow
        position relative
        padding 20px 20px 0
        width 100%
        max-width $lg

        +media-width-up($lg)
          padding 40px

        &_control
          display flex
          justify-content space-between
          align-items center
          margin-bottom 20px

          +media-width-up($lg)
            margin-bottom 40px

      &__close
        margin-left auto

      &__reset
        color $color-gray-secondary
        transition color ease-in .2s

        &:hover
          color $color-red-secondary

      &__first-list
        &_item

          &:not(:last-child)
            margin-bottom 30px

          > span
            font-size 22px
            font-weight 500
            margin-bottom 20px
            display inline-block

      &__second-list
        display flex
        flex-wrap wrap
        position relative
        margin-left -20px
        margin-right -20px

        +media-width-up($md)
          margin 0

        &_item
          width 100%
          border-bottom solid 1px $color-gray-light

          +media-width-up($md)
            border none

          input
            position absolute
            visibility hidden

            &:checked + label
              color $color-red-secondary

          label
            padding 20px
            cursor pointer
            display inline-block

            +media-width-up($md)
              padding 7px 15px 7px 0

  ._column
    .v-select

      &__control
        &.readonly

          &::before
            display none

          .v-select__input
            cursor default
            color $border-color-gray

      &__second-list
        &_item
          +media-width-up($md)
            width calc(100% / 3)

          +media-width-up($lg)
            width 25%

  ._row
    .v-select

      &__first-list
        display flex
        flex-direction column

        +media-width-up($md)
          flex-direction row

        &_item
          flex-shrink 0
          flex-grow 1

      &__second-list
        flex-direction column
</style>
