<template>
  <div v-if="perPage < total" class="v-pagination">
    <div class="v-pagination__corner">
      <button
        class="btn-prev"
        v-show="currentPage > 1"
        @click="$emit('changePage', prevPage)"
      >
        Предыдущая
      </button>
    </div>
    <div class="v-pagination__counter">
      {{ `${currentPage}/${totalPages}` }}
    </div>
    <div class="v-pagination__control">
      <button
        v-if="rangeStart > 1"
        @click="$emit('changePage', 1)"
        class="btn-page"
      >
        1
      </button>
      <span v-if="rangeStart > 2">—</span>
      <button
        v-for="item in pages"
        :key="item"
        class="btn-page"
        :class="{ active: item === currentPage }"
        :disabled="item === currentPage"
        @click="$emit('changePage', item)"
      >
        {{ item }}
      </button>
      <span v-if="rangeEnd < totalPages - 1">—</span>
      <button
        v-if="rangeEnd < totalPages"
        @click="$emit('changePage', totalPages)"
        class="btn-page"
      >
        {{ totalPages }}
      </button>
    </div>
    <div class="v-pagination__corner">
      <button
        class="btn-next"
        v-show="currentPage < totalPages"
        @click="$emit('changePage', nextPage)"
      >
        Следующая
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'v-pagination',
    props: {
      perPage: {
        type: Number,
        required: true
      },
      currentPage: {
        type: Number,
        required: true
      },
      total: {
        type: Number,
        required: true
      },
      pageRange: {
        type: Number,
        default: 2
      }
    },
    computed: {
      totalPages() {
        return Math.ceil(this.total / this.perPage)
      },
      prevPage() {
        return this.currentPage - 1
      },
      nextPage() {
        return this.currentPage + 1
      },
      rangeStart() {
        const start = this.currentPage - this.pageRange
        return start > 0 ? start : 1
      },
      rangeEnd() {
        const end = this.currentPage + this.pageRange
        return end < this.totalPages ? end : this.totalPages
      },
      pages() {
        const pages = []
        for (let i = this.rangeStart; i <= this.rangeEnd; i++) {
          pages.push(i)
        }
        return pages
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .v-pagination
    display flex
    align-items center
    padding 25px 0
    color $color-gray-blue
    font-weight 100

    &__corner
      display flex
      flex-grow 1

      +media-width-up($md)
        display flex
        width 200px

    &__counter
      +media-width-up($md)
        display none

    &__control
      flex-grow 1
      display none
      justify-content center
      align-items center
      font-size 22px

      +media-width-up($md)
        display flex

    .btn-prev,
    .btn-next
      text-transform uppercase
      color inherit
      font-weight inherit
      transition color ease-in .3s

      &:hover
        color $color-red-secondary

    .btn-prev
      margin-right: auto

    .btn-next
      margin-left: auto

    .btn-page
      padding 7px 15px
      margin 0 5px
      border-radius 4px
      border solid 1px transparent
      transition all ease-in .3s
      color inherit
      font-weight inherit

      &:hover
        background $color-gray-border
        border-color $color-gray-border

      &.active
        background #fff
        color $color-red-secondary
        border-color $color-red-secondary
</style>
