<template>
  <div>
    <transition name="pop">
      <div class="v-popup" v-if="is_open" @click.self="$emit('close')">
        <slot></slot>
      </div>
    </transition>
    <transition name="fade">
      <div class="v-popup__overlay" v-if="is_open"></div>
    </transition>
  </div>
</template>

<script>
  export default {
    name: 'v-popup',
    props: {
      is_open: {
        type: Boolean,
        default: false
      }
    }
  }
</script>

<style lang="stylus">
  .v-popup
    position fixed
    left 0
    right 0
    top 0
    bottom 0
    display flex
    justify-content center
    z-index 30
    overflow-y auto

    > *
      margin auto

      +media-width-up($md)
        margin-left 20px
        margin-right 20px

      +media-width-up($xl)
        margin-left 85px

    &__overlay
      overlay()

    &__item
      background-color #fff
      box-shadow $box-shadow
      position relative
      padding 20px 20px 40px
      width 100%
      max-width $lg

      +media-width-up($lg)
        padding 40px

      &_control
        display flex
        justify-content space-between
        align-items center
        margin-bottom 20px

        +media-width-up($lg)
          margin-bottom 40px

      &_close
        margin-left auto

      &_form
        display flex
        flex-direction column

        +media-width-up($md)
          flex-direction row

      &_field
        +media-width-up($md)
          margin-right 20px
</style>
