<template>
  <a :href="link" class="career">
    <h3 class="career__title">{{ title }}</h3>
    <div class="career__text" v-html="text"></div>
  </a>
</template>

<script>
  export default {
    name: 'v-preview-career',
    data() {
      return {
        title: 'Брокер по загородной элитной недвижимости',
        text: `<p><strong>Приглашаем на работу брокеров по продаже элитной недвижимости.</strong></p>
          <p>Присоединяйтесь к нашей команде амбициозных экспертов по красивой жизни!</p>
          <p>С удовольствием рассмотрим, как профессионалов, так и новичков.</p>
          <p>Ждем Ваши отклики, ответ получит каждый!</p>`,
        link: '/'
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .career

    &:hover &__title
      color $color-red-secondary

    &__title
      font-size 16px
      font-weight 500
      margin 0 0 20px
      transition color ease-in .2s

    &__text
      margin-bottom 20px
      color $color-red-secondary

      /deep/ p:not(:last-child)
        margin-bottom 16px
</style>
