<template>
  <a :href="link" class="analytics">
    <h3 class="analytics__title">{{ title }}</h3>
    <div class="analytics__text" v-html="text"></div>
    <span class="analytics__data">{{ data }}</span>
  </a>
</template>

<script>
  export default {
    name: 'v-preview-analytics',
    data() {
      return {
        title: 'Итоги 1 квартала 2019 года на рынке элитных новостроек',
        text: `<p>- Реализовано 211 лотов, что на 43% больше 1 квартала 2018 г.</p>
          <p><span>- Средняя площадь проданных квартир выросла на 10%</span></p>
          <p><span>- Средний бюджет сделок увеличился на 27%&nbsp;</span></p>
          <p><span>- Рост средневзвешенной цены сделки составил 14,5%</span></p>`,
        link: '/',
        data: '15 февр. 2021'
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .analytics

    &:hover &__title
      color $color-red-secondary

    &__title
      font-size 16px
      font-weight 500
      margin 0 0 20px
      transition color ease-in .2s

    &__text
      margin-bottom 20px

      /deep/ p:not(:last-child)
        margin-bottom 16px

    &__data
      font-size 12px
      color $color-gray-blue
</style>
