<template>
  <div class="preview-news">
    <a
      v-for="item in news"
      :key="item.id"
      :href="item.link"
      class="preview-news__item"
    >
      <div class="preview-news__item_img">
        <img
          :src="require(`@/static/images/${item.image}`)"
          :alt="item.title"
        />
      </div>
      <div class="preview-news__item_block">
        <h3 class="preview-news__item_title">{{ item.title }}</h3>
        <span class="preview-news__item_data">{{ item.data }}</span>
      </div>
    </a>
  </div>
</template>

<script>
  export default {
    name: 'v-preview-news',
    data() {
      return {
        news: [
          {
            id: 1,
            title: 'Carré Blanc: новости строительства',
            data: '15 февр. 2021',
            link: '/',
            image: 'test_news.png'
          },
          {
            id: 2,
            title: 'Carré Blanc: новости строительства',
            data: '15 февр. 2021',
            link: '/',
            image: 'test_news.png'
          },
          {
            id: 3,
            title: 'Carré Blanc: новости строительства',
            data: '15 февр. 2021',
            link: '/',
            image: 'test_news.png'
          }
        ]
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .preview-news
    display flex
    flex-direction column

    &__item
      display flex

      &:not(:last-child)
        margin-bottom 20px

      &:hover &_title
        color $color-red-secondary

      &_img
        width 70px
        height h = 70px
        border-radius $border-lg
        overflow hidden
        margin-right 10px
        flex-shrink 0

        img
          width 100%
          height h
          object-fit cover
          object-position center

      &_block
        display flex
        flex-direction column
        justify-content center
        line-height 1

      &_title
        font-size 16px
        font-weight 500
        margin 0 0 5px
        transition color ease-in .2s

      &_data
        font-size 12px
        color $color-gray-blue
</style>
