<template>
  <div class="v-radio">
    <p class="v-radio__title" v-if="title">{{ title }}</p>
    <div class="v-radio__group">
      <label
        v-for="(item, index) in options"
        :key="index"
        class="v-radio__label"
      >
        <input
          type="radio"
          name="select"
          :value="item.value"
          :checked="item.value === value"
          @change="$emit('input', item.value)"
        />
        <span class="v-radio__btn">{{ item.label }}</span>
      </label>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'v-radio-button',
    props: {
      options: {
        type: Array,
        required: true
      },
      value: {
        type: [Boolean, String, Number]
      },
      title: {
        type: String
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .v-radio

    &__title
      margin-bottom 10px
      font-size 14px
      font-weight 500

    &__group
      display flex

    input[type="radio"]
      display none

    input[type="radio"]:checked ~ .v-radio__btn
      background $color-yellow-primary

    input[type="radio"]:not(:checked) ~ .v-radio__btn:hover
      background $color-gray-border

    &__btn
      button-reset()
      width 100%
      height 44px
      padding 0 20px
      display flex
      justify-content center
      align-items center
      border solid 1px $border-color-gray
      background $color-gray-light
      transition background ease-in .2s

    &__label
      width 50%

      &:first-child  .v-radio__btn
        border-top-left-radius 2px
        border-bottom-left-radius 2px
        border-right none

      &:last-child  .v-radio__btn
        border-top-right-radius 2px
        border-bottom-right-radius 2px
</style>
