<template>
  <div class="v-range">
    <div class="v-range__header">
      <slot></slot>
    </div>
    <div class="v-range__group">
      <div class="v-range__field" ref="from">
        <input
          class="v-range__field_input"
          type="text"
          :value="values[0]"
          @change="changeValues({ value: $event.target.value, handle: 0 })"
          @focus="focus"
          @blur="blur"
        />
        <div class="v-range__field_input _format">
          {{ values[0] | numberFormat | postFixFormat(this.postFix) }}
        </div>
      </div>
      <span class="v-range__group_sep">–</span>
      <div class="v-range__field" ref="to">
        <input
          class="v-range__field_input"
          type="text"
          :value="values[1]"
          @change="changeValues({ value: $event.target.value, handle: 1 })"
          @focus="focus"
          @blur="blur"
        />
        <div class="v-range__field_input _format">
          {{ values[1] | numberFormat | postFixFormat(this.postFix) }}
        </div>
      </div>
    </div>
    <vue-nouislider
      :value="values"
      :config="config"
      @update="updateValues"
      @change="$emit('change', $event.values)"
    />
  </div>
</template>

<script>
  import vueNouislider from './vue-nouislider'

  export default {
    name: 'v-range-slider',
    data() {
      return {
        values: this.value
      }
    },
    props: {
      value: {
        type: Array,
        required: true
      },
      min: {
        type: [String, Number],
        default: 0
      },
      max: {
        type: [String, Number],
        default: 100
      },
      postFix: {
        type: String,
        default: ''
      }
    },
    computed: {
      calcRange() {
        const degree = String(this.max).length - 1
        const point = (100 * Math.pow(10, degree)) / this.max
        const endPoint = point >= 50 ? point : 33
        const range = {}

        for (let i = 1, c = 1; i <= degree; i++) {
          if (i === 1) {
            if (degree <= 4) {
              range.min = [this.min, 1]
            } else if (degree >= 4 && degree <= 6) {
              range.min = [this.min, 1e3]
            } else {
              range.min = [this.min, 1e4]
            }
          } else if (
            range.min[1] < Math.pow(10, i - 1) &&
            this.max > Math.pow(10, i)
          ) {
            c++
            range[`${endPoint * (c / degree)}%`] = [
              Math.pow(10, i),
              Math.pow(10, i - 1)
            ]
          }
        }
        range.max = this.max
        return range
      },
      config() {
        return {
          start: [this.values[0] || this.min, this.values[1] || this.max],
          connect: true,
          range: this.calcRange,
          format: {
            to: value => {
              return parseInt(value)
            },
            from: value => {
              return parseInt(value)
            }
          }
        }
      }
    },
    filters: {
      numberFormat(value) {
        const fraction = val => {
          return val.toFixed(1).substr(-1) > 0
            ? Number(val.toFixed(2))
            : Math.round(val)
        }

        if (value < 1e3) {
          return value
        } else if (value >= 1e3 && value < 1e6) {
          return `${fraction(value / 1e3)} тыс.`
        } else if (value >= 1e6 && value < 1e9) {
          return `${fraction(value / 1e6)} млн.`
        } else {
          return `${fraction(value / 1e9)} млрд.`
        }
      },
      postFixFormat(value, postfix) {
        return `${value} ${postfix}`
      }
    },
    methods: {
      focus({ target }) {
        target.classList.add('active')
      },
      blur({ target }) {
        target.classList.remove('active')
      },
      updateValues({ values }) {
        this.values = values
      },
      changeValues({ value, handle }) {
        this.values[handle] = value
        this.$emit('change', this.values)
      }
    },
    watch: {
      value(newVal) {
        this.values = newVal
      }
    },
    components: { vueNouislider }
  }
</script>

<style lang="stylus">
  .v-range
    padding-bottom 9px
    background-color #fff

    &__header
      margin-bottom 10px
      font-size 14px
      color $color-gray-secondary

    &__group
      display flex
      padding-bottom 20px

      &_sep
        font-size 28px
        margin 0 3px
        display flex
        align-items center

    &__field
      position relative
      background-color #fff
      flex-grow 1
      overflow hidden
      input-default()

      &_input
        position absolute
        input-reset()
        top 0
        bottom 0
        left 0
        right 0

        &:not(._format)
          z-index 2
          opacity 0

        &.active
          opacity 1

          & + ._format
            opacity 0
</style>
