<template>
  <div
    :class="['v-select', isSearch ? '_search' : '_filter', className]"
    v-outsideClick="onSearchBlur"
  >
    <p class="v-select__title" v-if="title">{{ title }}</p>
    <div :class="[isUp ? 'open' : '', 'v-select__control']">
      <input
        class="v-select__input"
        type="text"
        :value="getOptionLabel(value)"
        @focus="onSearchFocus"
        @keypress.enter="$emit('runSearch', $event.target.value)"
        @input="input($event.target.value)"
        :readonly="!isSearch"
        :placeholder="placeholder"
      />
      <span
        v-if="isSearch"
        class="v-select__icon"
        v-html="require('@/static/images/ui-ux/search.svg?include')"
      ></span>
    </div>
    <transition name="pop">
      <div class="v-select__drop" v-if="isShowList">
        <ul class="v-select__list">
          <li
            v-for="(item, index) in option"
            :key="index"
            @click="select(item)"
            :class="{ active: item.value === value }"
          >
            {{ item.label || item }}
          </li>
        </ul>
      </div>
    </transition>
  </div>
</template>

<script>
  export default {
    name: 'v-select',
    data() {
      return {
        isShowList: false,
        isUp: false
      }
    },
    props: {
      option: {
        type: Array,
        default: () => []
      },
      value: {
        default: ''
      },
      label: {
        type: String,
        default: 'label'
      },
      val: {
        type: String,
        default: 'value'
      },
      placeholder: {
        type: String
      },
      title: {
        type: String
      },
      className: {
        type: String
      },
      isSearch: {
        type: Boolean,
        default: false
      }
    },
    methods: {
      select(item) {
        this.onSearchBlur()
        this.isSearch
          ? this.$emit('runSearch', item)
          : this.$emit('input', item.value)
      },
      input(value) {
        this.$emit('input', value)
      },
      getOptionLabel(option) {
        if (this.isSearch) {
          return option
        }
        if (this.option.length) {
          const obj = this.option.filter(item => {
            return item[this.val] === option
          })
          if (obj.length) {
            return obj[0][this.label]
          }
          return this.option[0][this.label]
        }
        return option
      },
      onSearchFocus() {
        this.isShowList = true
        this.isUp = !this.isUp
      },
      onSearchBlur() {
        if (this.isShowList) {
          this.isUp = !this.isUp
          this.isShowList = false
        }
      }
    },
    directives: {
      outsideClick: {
        inserted(el, binding) {
          function documentHandler(e) {
            if (el.contains(e.target)) {
              return false
            }
            if (binding.expression) {
              binding.value(e)
            }
          }
          el.__outsideClick__ = documentHandler
          document.addEventListener('click', documentHandler)
        },
        unbind(el, binding) {
          document.removeEventListener('click', el.__outsideClick__)
          delete el.__outsideClick__
        }
      }
    }
  }
</script>

<style lang="stylus">
  .v-select
    position relative
    width 100%

    &__input
      input-default()
      background-color #fff
      cursor pointer

      &::placeholder
        color inherit

    &__title
      font-size 14px
      color $color-gray-secondary
      margin-bottom 10px

    &__control
      position relative

      &::before
        content ''
        display block
        border-bottom 2px solid $color-gray-secondary
        border-right 2px solid $color-gray-secondary
        position absolute
        top 50%
        right 10px
        width 5px
        height 5px
        margin-top -4px
        pointer-events none
        transform rotate(45deg)
        transition transform ease-in .2s, border-color ease-in .2s

      &:hover::before
        border-color $default-color-menu

      &.open::before
        transform rotate(-135deg)

    &__drop
      background #fff
      box-shadow 0 0 3px 3px alpha(#444, .2)
      font-size 12px
      position absolute
      z-index 5
      width 100%

      li
        display flex
        align-items center
        cursor pointer
        transition background-color ease-in .2s

        &:hover
          background-color $color-gray-light

    &._filter

      .v-select__drop
        border-radius $border-sm
        margin-top 4px
        overflow hidden

        &:hover .active:not(:hover)
          background-color #fff

        li
          min-height 40px
          align-items center
          padding 0 10px 0 18px

          &.active
            color $color-red-secondary
            background-color $color-gray-light

    &._search

      .v-select__control

        &::before
          display none

      .v-select__input
        height 62px
        border-top-right-radius 0
        border-bottom-right-radius 0
        padding 0 20px 0 40px
        cursor text

      .v-select__icon
        position absolute
        top 21px
        left 15px
        width 20px
        height 20px

        path
          fill $default-color-text

      .v-select__drop
        max-height 270px
        overflow-y auto

        li
          padding 0 20px 0 40px
          font-size 14px
          min-height 45px

          +media-width-up($md)
            font-size 16px

          + li
            border-top solid 1px $border-color-gray
</style>
