<template>
  <div :ref="`range-${id}`"></div>
</template>

<script>
  import noUiSlider from 'nouislider'

  export default {
    data() {
      return {
        init: false
      }
    },
    props: {
      config: {
        type: Object,
        required: true
      },
      value: {
        type: Array,
        required: true
      }
    },
    computed: {
      id() {
        return Math.random().toString(36).substr(2, 4)
      },
      slider() {
        return this.$refs[`range-${this.id}`]
      }
    },
    mounted() {
      noUiSlider.create(this.slider, this.config)
      this.slider.noUiSlider.on('update', (values, handle) => {
        this.$emit('update', { values, handle })
      })
      this.slider.noUiSlider.on('change', (values, handle) => {
        this.$emit('change', { values, handle })
      })
    },
    watch: {
      value(nv) {
        if (this.init) {
          let nus = this.slider.noUiSlider.get()
          if (!Array.isArray(nus)) nus = [nus]
          if (JSON.stringify(nus) !== JSON.stringify(nv)) {
            this.slider.noUiSlider.set(nv)
          }
        } else {
          this.init = true
        }
      }
    }
  }
</script>
