<template>
  <section class="section container">
    <transition-group
      tag="div"
      class="card-link"
      name="pop"
      @after-enter="enter"
      @after-leave="leave"
    >
      <div
        class="card-link__item"
        v-for="(item, index) in links"
        :key="index"
        v-show="index < idx"
      >
        <div class="card-link__item_wrap">
          <p class="card-link__item_title" v-html="item.title"></p>
          <a
            v-if="item.sale_link"
            :href="item.sale_link"
            class="card-link__item_link"
          >
            Продажа <span>{{ item.sale_count }}</span>
          </a>
          <a
            v-if="item.rent_link"
            :href="item.rent_link"
            class="card-link__item_link"
          >
            Аренда <span>{{ item.rent_count }}</span>
          </a>
          <a v-if="item.link" :href="item.link" class="card-link__item_link">
            Продажа объектов <br />
            любой сложности
          </a>
        </div>
      </div>
    </transition-group>
  </section>
</template>

<script>
  export default {
    name: 'card-link',
    data() {
      return {
        idx: 0
      }
    },
    computed: {
      menu() {
        return this.$store.getters['menu/menu']
      },
      links() {
        return [
          {
            title: 'Городская <br /> недвижимость',
            sale_link: this.menu.urban.parent[0].link,
            sale_count: '1308',
            rent_link: this.menu.urban.parent[5].link,
            rent_count: '175'
          },
          {
            title: 'Загородная <br /> недвижимость',
            sale_link: this.menu.country.parent[0].link,
            sale_count: '523',
            rent_link: this.menu.country.parent[2].link,
            rent_count: '36'
          },
          {
            title: 'Коммерческая <br /> недвижимость',
            sale_link: this.menu.commercial.parent[0].link,
            sale_count: '574',
            rent_link: this.menu.commercial.parent[1].link,
            rent_count: '319'
          },
          {
            title: 'Продавцам',
            link: this.menu.sellers.link
          }
        ]
      }
    },
    methods: {
      show() {
        this.idx += { 0: 1, [this.links.length]: -1 }[this.idx]
      },
      enter() {
        this.idx = Math.min(this.links.length, this.idx + 1)
      },
      leave() {
        this.idx = Math.max(0, this.idx - 1)
      }
    },
    mounted() {
      this.show()
    }
  }
</script>

<style lang="stylus">
  .card-link
    display flex
    flex-wrap wrap

    +media-width-up($md)
      margin-left -8px
      margin-right -8px

    &__item
      background-color $color-gray-light
      padding 30px 20px
      display flex
      justify-content center
      border-radius $border-lg
      width 100%

      +media-width-up($md)
        width calc(50% - 16px)
        margin-left 8px
        margin-right 8px

      +media-width-up($lg)
        width calc(25% - 16px)

      &:not(:last-child)
        margin-bottom 16px

        +media-width-up($lg)
          margin-bottom 0

      &:nth-child(3)
        +media-width-up($md)
          margin-bottom 0

      &_wrap
        display flex
        flex-direction column
        min-width 160px

      &_title
        font-weight 500
        font-size 20px
        line-height 1
        margin-bottom 20px

      &_link
        font-size 14px
        transition color ease-in .2s
        color $color-gray-blue
        margin-top auto

        &:not(:last-child)
          margin-bottom 5px

        &:hover
          color $color-red-secondary

        span
          color $color-red-secondary
          font-weight 500
</style>
