<template>
  <section class="destinations-block">
    <a href="/" class="destinations-block__item">
      <span class="destinations-block__item_title">Квартиры</span>
      <span class="destinations-block__item_counter">822 объекта</span>
      <picture>
        <source
          :srcSet="require('@/static/images/dist_flat.jpg?webp')"
          type="image/webp"
        />
        <source
          :srcSet="require('@/static/images/dist_flat.jpg')"
          type="image/jpeg"
        />
        <img :src="require('@/static/images/dist_flat.jpg')" alt="квартиры" />
      </picture>
    </a>
    <a href="/" class="destinations-block__item">
      <span class="destinations-block__item_title">Пентхаусы</span>
      <span class="destinations-block__item_counter">822 объекта</span>
      <picture>
        <source
          :srcSet="require('@/static/images/dist_pent.jpg?webp')"
          type="image/webp"
        />
        <source
          :srcSet="require('@/static/images/dist_pent.jpg')"
          type="image/jpeg"
        />
        <img :src="require('@/static/images/dist_pent.jpg')" alt="Пентхаусы" />
      </picture>
    </a>
    <a href="/" class="destinations-block__item">
      <span class="destinations-block__item_title">Новостройки</span>
      <span class="destinations-block__item_counter">822 объекта</span>
      <picture>
        <source
          :srcSet="require('@/static/images/dist_new.jpg?webp')"
          type="image/webp"
        />
        <source
          :srcSet="require('@/static/images/dist_new.jpg')"
          type="image/jpeg"
        />
        <img :src="require('@/static/images/dist_new.jpg')" alt="Новостройки" />
      </picture>
    </a>
    <a href="/" class="destinations-block__item">
      <span class="destinations-block__item_title">Таунхаусы</span>
      <span class="destinations-block__item_counter">822 объекта</span>
      <picture>
        <source
          :srcSet="require('@/static/images/dist_town.jpg?webp')"
          type="image/webp"
        />
        <source
          :srcSet="require('@/static/images/dist_town.jpg')"
          type="image/jpeg"
        />
        <img :src="require('@/static/images/dist_town.jpg')" alt="Таунхаусы" />
      </picture>
    </a>
  </section>
</template>

<style lang="stylus">
  .destinations-block
    display none

    +media-width-up($md)
      display flex

    &__item
      width 25%
      max-height 400px
      position relative
      overflow hidden
      color #fff

      +media-width-up($xl)
        max-height 700px

      &::before
        content ''
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        background-color alpha(#000 .5)
        z-index 5

      &:hover img
        transform scale(1.05)

      img
        width 100%
        height 100%
        object-fit cover
        object-position center
        transition transform ease-in .2s

      &_title
        font-size 22px
        font-weight 500
        position absolute
        z-index 6
        left 20px
        top 50px

        +media-width-up($lg)
          font-size 30px

      &_counter
        transform-origin left top
        transform rotate(-90deg)
        display inline-block
        position absolute
        z-index 6
        left 15px
        bottom 5px
        font-size 12px
        font-weight 100
        letter-spacing 3px
        text-transform uppercase

        +media-width-up($lg)
          font-size 16px
</style>
