<template>
  <section class="director section container">
    <VueSlickCarousel class="director__slider slider" v-bind="settings">
      <template #prevArrow>
        <div style="display: none"></div>
      </template>
      <div
        class="director__item"
        v-for="slide in slides"
        :key="slide.id"
        :style="{
          backgroundImage: `url(${require('@/static/images/' + slide.image)})`
        }"
      >
        <span class="director__item_title">{{ slide.title }}</span>
        <p class="director__item_name">{{ slide.name }}</p>
        <p class="director__item_text" v-html="slide.text"></p>
        <button
          class="director__item_btn btn_large btn_red"
          @click="TOGGLE('is_open_message_send')"
        >
          Написать директору
        </button>
      </div>
      <template #nextArrow>
        <div class="custom-slider__arrow _next">
          <span
            v-html="require('@/static/images/ui-ux/arrow.svg?include')"
          ></span>
        </div>
      </template>
      <template #customPaging>
        <span class="director__dot custom-slider__dot"></span>
      </template>
    </VueSlickCarousel>
  </section>
</template>

<script>
  import VueSlickCarousel from 'vue-slick-carousel'
  import { mapActions } from 'vuex'

  export default {
    name: 'director-block',
    data() {
      return {
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          dots: true,
          fade: true,
          infinite: true,
          lazyLoad: 'progressive',
          arrows: true
        },
        slides: [
          {
            id: '1',
            title: 'Генеральный директор. Партнер',
            name: 'Попов Денис Леонидович',
            text: `&laquo;Вот уже 25 лет наша компания идет в&nbsp;ногу со&nbsp;временем. Мы&nbsp;меняемся, но&nbsp;остаемся верны своим принципам. Воспользуйтесь опытом лидеров рынка элитной недвижимости&raquo;.`,
            image: 'director_1.jpg'
          },
          {
            id: '2',
            title: 'Заместитель ген. директора. Партнер',
            name: 'Воронков Дмитрий Николаевич',
            text: `&laquo;В&nbsp;эпоху развития информационных технологий точные данные выходят на&nbsp;первый план. Мы&nbsp;гарантированно предлагаем реальные объекты на&nbsp;лучших условиях&raquo;`,
            image: 'director_2.jpg'
          }
        ]
      }
    },
    methods: {
      ...mapActions('boolean', ['TOGGLE'])
    },
    components: { VueSlickCarousel }
  }
</script>

<style lang="stylus" scoped>
  .director

    &__item
      min-height 415px
      position relative
      color #fff
      padding 60px 20px 20px
      background-position 70% center
      background-size auto 100%
      background-repeat no-repeat
      display flex !important
      flex-direction column

      +media-width-up($md)
        padding 60px 35px 35px

      +media-width-up($xl)
        background-position center

      &::before
        content ''
        position absolute
        z-index -1
        top 0
        bottom 0
        left 0
        right 0
        background linear-gradient(to right, #0b0e13 50%, #373e4b 50%)

      &_title
        color #847658
        text-transform uppercase
        font-size 12px
        line-height 1
        margin-bottom 15px
        display inline-block

        +media-width-up($md)
          font-size 14px

      &_name
        font-size 22px
        font-weight 500
        margin-bottom 25px
        width 50%

        +media-width-up($md)
          font-size 30px

      &_text
        display none

        +media-width-up($md)
          display block
          font-size 18px
          line-height 1.8
          margin-bottom 25px
          max-width 600px
          width 70%

      &_btn
        margin-top auto
        position relative
        z-index 1

    &__slider
      position relative

      +media-width-up($md)
        border-radius 8px
        overflow hidden

    .slider
      width "calc(100% + %s*2)" % $offset-xs
      margin-left (- $offset-xs)
      margin-right (- $offset-xs)

      +media-width-up($md)
        width 100%
        margin-left 0
        margin-right 0

      &__item
        outline none
        padding 0 ($offset-xs/2) ($offset-xs/2)

    .custom-slider
      &__arrow
        height h = 80px
        width 50px
        position absolute
        z-index 10
        top "calc(50% - %s/2)" % h
        cursor pointer

        &._next
          display none

          +media-width-up($md)
            display block
            right 16px

          span
            justify-content flex-end

        &:hover span
          transform scale(1.1)

        /deep/ span
          height 100%
          width 100%
          display flex
          transition transform ease-in .2s

          svg
            width 70%
            fill #fff

      &__dot
        display inline-block
        height 12px
        width 12px
        border solid 1px #fff
        border-radius 50%
        margin-left 7px
        margin-right 7px
        transition border-width ease-in .2s

    /deep/ .slick-dots
      position absolute
      top 0
      left 13px

      +media-width-up($md)
        left 28px

    .custom-slider__dot:hover
      border-width 6px

    .slick-active
      .custom-slider__dot
        border-width 3px
</style>
