<template>
  <div class="filter-index">
    <div class="filter-index__wrap">
      <div class="filter-index__item">
        <v-multi-select
          :value="type"
          :option="typeList"
          @input="SET_VALUE_FROM_HOME_FILTER({ name: 'type', value: $event })"
          placeholder="Все районы"
          title="Тип недвижимости"
          className="_row"
          type="radio"
        />
      </div>
      <div class="filter-index__item">
        <v-range-slider
          :value="area"
          @change="
            SET_VALUE_FROM_HOME_FILTER({ name: 'area', value: [$event] })
          "
          :min="0"
          :max="maxArea"
          postFix="м²"
        >
          Площадь
        </v-range-slider>
      </div>
      <div class="filter-index__item">
        <v-range-slider
          :value="price"
          @change="
            SET_VALUE_FROM_HOME_FILTER({ name: 'price', value: [$event] })
          "
          :min="0"
          :max="maxPrice"
        >
          <v-select
            :value="currency"
            :option="currencyList"
            @input="
              SET_VALUE_FROM_HOME_FILTER({ name: 'currency', value: $event })
            "
            className="filter-index__currency"
          />
        </v-range-slider>
      </div>
      <div class="filter-index__item">
        <v-multi-select
          :value="districts"
          :option="districtsList"
          @input="
            SET_VALUE_FROM_HOME_FILTER({ name: 'districts', value: $event })
          "
          placeholder="Все районы"
          title="Расположение"
        />
      </div>
    </div>
    <button class="filter-index__btn btn_large btn_red">
      Показать <span>({{ countOffers }})</span>
    </button>
  </div>
</template>

<script>
  import vMultiSelect from '@/components/v-modules/v-multi-select'
  import vRangeSlider from '@/components/v-modules/v-range-slider'

  import { mapState, mapGetters, mapActions } from 'vuex'

  export default {
    name: 'filter-home',
    data() {
      return {
        selected: {
          destinations: [],
          type: 3
        },
        options: {
          destinations: {}
        },
        currencyList: [
          { label: 'Цена за объект в ₽', value: 'rub' },
          { label: 'Цена за объект в $', value: 'usd' },
          { label: 'Цена за объект в €', value: 'eur' }
        ]
      }
    },
    computed: {
      ...mapState('offers', [
        'districts',
        'currency',
        'price',
        'maxPrice',
        'area',
        'maxArea',
        'type',
        'countOffers'
      ]),
      ...mapGetters('districts', ['districtsList']),
      ...mapGetters('menu', ['typeList'])
    },
    methods: {
      ...mapActions('offers', ['SET_VALUE_FROM_HOME_FILTER']),
      set_filter() {
        console.log('set_filter')
      }
    },
    components: { vMultiSelect, vRangeSlider }
  }
</script>

<style lang="stylus">
  .filter-index
    //max-width $container-lg
    width 100%
    margin-top 40px
    color $default-color-text

    &__wrap
      border-radius $border-sm
      box-shadow $box-shadow
      background-color #fff
      margin-bottom 20px
      display flex
      flex-direction column

      +media-width-up($lg)
        margin-bottom 40px
        flex-direction row
        padding 0 15px

    &__item
      flex-grow 1
      padding 15px 10px

      +media-width-up($lg)
        width 25%

      &:not(:last-child)
        border-bottom  solid 1px $color-gray-border

        +media-width-up($lg)
          border-bottom none
          border-right solid 1px $color-gray-border

    &__btn
      +media-width-up($md)
        margin-left auto

      span
        margin-left 10px
        font-weight 500

    &__currency
      .v-select__input
        font-size 14px
        height auto

      .v-select__drop
        max-width 160px

    .v-select

      &__input
        border none
        padding-left 0
</style>
