<template>
  <section class="hero-index">
    <div class="hero-index__container container">
      <h1 class="hero-index__title">Элитная недвижимость Москвы</h1>
      <div class="hero-index__search">
        <Search />
      </div>
      <filter-index />
    </div>
  </section>
</template>

<script>
  import Search from '@/components/search'
  import filterIndex from '@/components/Home/filter'

  export default {
    name: 'hero',
    data() {
      return {
        selected: ''
      }
    },
    components: { Search, filterIndex }
  }
</script>

<style lang="stylus">
  .hero-index
    background-image url("@/static/images/hero_index.jpg")
    background-size cover
    background-position center
    min-height 540px
    color #fff

    &__container
      padding-top 30px
      padding-bottom 30px
      display flex
      flex-direction column
      align-items center

      +media-width-up($lg)
        padding-top 60px
        padding-bottom 60px

    &__title
      font-size 36px
      text-align center
      font-weight 300

      +media-width-up($lg)
        font-size 44px

    &__search
      color $default-color-text
      margin-top 40px
      width 100%
      display none
      justify-content center

      +media-width-up($lg)
        display flex

      .search
        max-width 500px

      .search__btn
        display none

      .v-select._search

        .v-select__input
          background transparent
          border none
          border-radius 0
          border-bottom solid 1px #fff
          color #fff
          height 42px

        .v-select__icon
          top 12px

          path
            fill #fff
</style>
