<template>
  <section class="new-offers section">
    <div class="new-offers__header">
      <h2 class="new-offers__header_title title_h2">Новые предложения</h2>
      <a href="/" class="new-offers__header_link">Все предложения</a>
    </div>
    <VueSlickCarousel class="new-offers__slider slider" v-bind="settings">
      <template #prevArrow>
        <div class="custom-slider__arrow _prew">
          <span
            v-html="require('@/static/images/ui-ux/arrow.svg?include')"
          ></span>
        </div>
      </template>
      <div class="slider__item" v-for="offer in offers" :key="offer.id">
        <card-offer
          :id="offer.id"
          :href="offer.id"
          :title="offer.title"
          :image="offer.image"
          :floor="offer.floor"
          :area="offer.area"
          :price="offer.price"
          :label="offer.label"
        />
      </div>
      <template #nextArrow>
        <div class="custom-slider__arrow _next">
          <span
            v-html="require('@/static/images/ui-ux/arrow.svg?include')"
          ></span>
        </div>
      </template>
      <template #customPaging>
        <span class="custom-slider__dot"></span>
      </template>
    </VueSlickCarousel>
  </section>
</template>

<script>
  import cardOffer from '@/components/card-offer.vue'
  import VueSlickCarousel from 'vue-slick-carousel'

  export default {
    name: 'new-offers',
    data() {
      return {
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          variableWidth: true,
          centerMode: true,
          infinite: true,
          // lazyLoad: 'progressive',
          arrows: true
        }
      }
    },
    props: {
      offers: {
        type: Array,
        default: () => []
      }
    },
    components: { VueSlickCarousel, cardOffer }
  }
</script>

<style lang="stylus">
  .new-offers
    overflow hidden
    border-bottom solid 1px $border-color-gray

    &__header
      display flex
      flex-direction column
      align-items center
      margin-bottom 25px

      &_title
        margin-bottom 25px

      &_link
        color $color-red-secondary
        position relative

        &:before
          content ''
          position absolute
          left 0
          width 0
          height 1px
          background $color-red-secondary
          bottom 0
          transition width ease-in .2s

        &:hover::before
          width 100%

    .custom-slider
      &__arrow
        height h = 80px
        width 50px
        position absolute
        z-index 10
        top "calc(50% - %s/2)" % h
        cursor pointer
        background #fff

        &._prew
          border-radius 0 40px 40px 0
          box-shadow 3px 3px 5px alpha(#000, .2)

          span
            ustify-content flex-start

            svg
              transform scale(-1, 1)

        &._next
          right 0
          border-radius 40px 0 0 40px
          box-shadow -3px 3px 5px alpha(#000, .2)

          span
            justify-content flex-end

        &:hover span
          transform scale(1.1)

        span
          height 100%
          width 100%
          display flex
          transition transform ease-in .2s

          svg
            width 70%
            fill $color-red-secondary

      &__dot
        display inline-block
        height 12px
        width 12px
        border solid 1px #000
        border-radius 50%
        margin-left 7px
        margin-right 7px
        transition border-width ease-in .2s

    .slick-active
      .custom-slider__dot
        border-width 2px

    .slider
      width 100%
      margin-left 0
      margin-right 0

      &__item
        outline none
        padding 0 ($offset-xs/2) ($offset-xs/2)

        .card-offer
          width 304px

          +media-width-up($md)
            width 344px
</style>
