<template>
  <section class="section container">
    <h2 class="preview-block__title title_h2">Новости и материалы</h2>
    <div class="preview-block">
      <div class="preview-block__item">
        <a href="/" class="preview-block__link btn_smile btn_line">Новости</a>
        <v-preview-news />
      </div>
      <div class="preview-block__item">
        <a href="/" class="preview-block__link btn_smile btn_line">Аналитика</a>
        <v-preview-analytics />
      </div>
      <div class="preview-block__item">
        <a href="/" class="preview-block__link btn_smile btn_line">Карьера</a>
        <v-preview-career />
      </div>
    </div>
  </section>
</template>

<script>
  import vPreviewNews from '@/components/v-modules/v-preview-news'
  import vPreviewAnalytics from '@/components/v-modules/v-preview-analytics'
  import vPreviewCareer from '@/components/v-modules/v-preview-career'

  export default {
    name: 'preview-block',
    components: { vPreviewNews, vPreviewAnalytics, vPreviewCareer }
  }
</script>

<style lang="stylus" scoped>
  .preview-block
    display flex
    flex-direction column

    +media-width-up($lg)
      flex-direction row

    &__title
      margin-bottom 25px
      text-align center

    &__link
      margin-bottom 25px

    &__item
      +media-width-up($lg)
        padding-right: 15px
        width calc(100% / 3)

      &:not(:first-child)
        padding-top 35px

        +media-width-up($lg)
          padding-top 0

      &:not(:last-child)
        padding-bottom 35px
        border-bottom solid 1px $border-color-gray

        +media-width-up($lg)
          padding-bottom 0
          border-bottom none
          border-right solid 1px $border-color-gray
          margin-right 25px
</style>
