<template>
  <section class="section container" v-infinite-scroll="startAnimation">
    <transition-group
      tag="div"
      class="skills-block"
      name="pop"
      @after-enter="enter"
      @after-leave="leave"
    >
      <div
        v-for="(item, index) in skills"
        :key="index"
        v-show="index < idx"
        class="skills-block__item"
      >
        <a :href="item.link" class="skills-block__item_wrap">
          <div class="skills-block__item_icon">
            <span
              v-html="require(`@/static/images/ui-ux/${item.icon}?include`)"
            ></span>
          </div>
          <p class="skills-block__item_text" v-html="item.text"></p>
        </a>
      </div>
    </transition-group>
  </section>
</template>

<script>
  export default {
    name: 'skills-block',
    data() {
      return {
        is_show: true,
        idx: 0,
        skills: [
          {
            text: '26 летний опыт <br/>в недвижимости',
            link: '/',
            icon: 'experience.svg'
          },
          {
            text: 'Экспертиза и  <br/>сравнительный анализ',
            link: '/',
            icon: 'certificate.svg'
          },
          {
            text: 'Информационная <br/>прозрачность',
            link: '/',
            icon: 'information.svg'
          }
        ]
      }
    },
    methods: {
      show() {
        this.idx += { 0: 1, [this.skills.length]: -1 }[this.idx]
      },
      enter() {
        this.idx = Math.min(this.skills.length, this.idx + 1)
      },
      leave() {
        this.idx = Math.max(0, this.idx - 1)
      },
      startAnimation() {
        if (this.is_show) {
          this.show()
        }
        this.is_show = false
      }
    }
  }
</script>

<style lang="stylus">
  .skills-block
    display flex
    flex-direction column
    align-items center

    +media-width-up($lg)
      flex-direction row

    &__item
      display flex
      align-items center
      justify-content center
      width 100%

      +media-width-up($lg)
        width calc(100% / 3)

      &:not(:last-child)
        margin-bottom 50px

        +media-width-up($lg)
          margin-bottom 0

      &_wrap
        display flex
        align-items center
        max-width 300px
        width 100%

      &_icon
        width 90px
        height 90px
        display flex
        align-items center
        justify-content center
        padding 20px
        border-radius 50%
        background-color $border-color-gray
        margin-right 20px

        span
          height 100%
          width 100%

        svg
          max-width 100%
          max-height 100%
          fill $color-red-secondary

      &_text
        color $color-gray-blue
</style>
