<template>
  <div class="slider-item">
    <a href="/" class="slider-item__item">
      <h3 class="slider-item__title">Квартиры с отделкой</h3>
      <p class="slider-item__text">Специальное предложение!</p>
    </a>
  </div>
</template>

<style lang="stylus">
  .slider-item
    width 100%
    height 100%

    &__item
      display block
      height 100%
      padding 20px
      color #fff
      line-height 1
      position relative
      cursor pointer

      &::before
        content ''
        position absolute
        z-index 3
        left 0
        right 0
        top 0
        bottom 0
        background alpha(#000, .5)
        transition opacity ease-in .2s
        opacity 0

      &:hover::before
        opacity 1

    &__title
      margin 0 0 16px
      font-size 30px
      font-weight 500

    &__title,
    &__text
      position relative
      z-index 5
</style>
