<template>
  <section class="slider-block section container">
    <div class="slider-block__item _block-1">
      <slider-item />
    </div>
    <div class="slider-block__item _block-2">
      <slider-item />
    </div>
    <div class="slider-block__item _block-3">
      <slider-item />
    </div>
    <div class="slider-block__item _block-4">
      <slider-item />
    </div>
    <div class="slider-block__item _block-5">
      <slider-item />
    </div>
  </section>
</template>

<script>
  import sliderItem from '@/components/Home/sliderItem'

  export default {
    name: 'slider-block',
    components: { sliderItem }
  }
</script>

<style lang="stylus">
  .slider-block
    display grid
    grid-template-columns 1fr
    grid-template-rows 1fr 1fr 1fr 1fr 1fr
    gap 16px 16px
    grid-template-areas "_block-1"\
                        " _block-2"\
                        " _block-3"\
                        " _block-4"\
                        " _block-5"

    +media-width-up($md)
      grid-template-columns 1fr 1fr
      grid-template-rows 1fr 1fr 1fr
      grid-template-areas "_block-2 _block-2"\
                          "_block-1 _block-3"\
                          " _block-4 _block-5"

    +media-width-up($xl)
      height 675px
      grid-template-columns 1fr 1fr 1fr 1fr
      grid-template-rows 1fr 1fr
      grid-template-areas "_block-1 _block-2 _block-3 _block-3"\
                          "_block-1 _block-4 _block-4 _block-5"

    &__item
      background-color #7f828b
      border-radius $border-lg
      overflow hidden
      width 100%
      height 290px

      +media-width-up($xl)
        height auto

    ._block-1
      grid-area _block-1

    ._block-2
      grid-area _block-2

    ._block-3
      grid-area _block-3

    ._block-4
      grid-area _block-4

    ._block-5
      grid-area _block-5
</style>
