<template>
  <section class="subscribe-block section">
    <div class="subscribe-block__wrapper container">
      <div class="subscribe-block__head">
        <h2 class="subscribe-block__title title_h2">Будьте в курсе</h2>
        <p class="subscribe-block__text">
          Подпишитесь на&nbsp;последние обновления и&nbsp;узнавайте
          о&nbsp;новинках и&nbsp;специальных предложениях первыми
        </p>
      </div>
      <div class="subscribe-block__content">
        <v-input
          type="text"
          placeholder="Email"
          class="subscribe-block__field v-popup__item_field"
          v-model.trim="form.email"
          :requiredError="$v.form.email.$error && !$v.form.email.required"
          :validError="$v.form.email.$error && !$v.form.email.email"
          @resetError="$v.form.email.$reset()"
        />
        <v-checkbox
          class="subscribe-block__checkbox"
          v-model="form.terms"
          :requiredError="$v.form.terms.$error"
          @resetError="$v.form.terms.$reset()"
        />
        <button class="subscribe-block__btn btn_large btn_red">
          Подписаться
        </button>
      </div>
    </div>
  </section>
</template>

<script>
  import { required, email, sameAs } from 'vuelidate/lib/validators'
  import vInput from '@/components/v-modules/v-field-input'
  import vCheckbox from '@/components/v-modules/v-field-checkbox'

  export default {
    name: 'subscribe-block',
    data() {
      return {
        success: false,
        form: {
          email: '',
          terms: true
        }
      }
    },
    validations: {
      form: {
        email: { required, email },
        terms: { sameAs: sameAs(() => true) }
      }
    },
    methods: {
      validateForm() {
        this.$v.form.$touch()
        if (!this.$v.$invalid) this.SUBMIT_FORM()
      },
      clear_form() {
        this.form.email = ''
        this.$v.form.email.$reset()
      },
      async SUBMIT_FORM() {
        try {
          await console.log('SUBMIT_FORM')
          this.trackSend()
          this.success = true
          this.clear_form()
        } catch (e) {
          console.error(e)
        } finally {
          setTimeout(() => {
            console.log('finally')
          }, 1000)
        }
      },
      trackSend() {
        console.log('gtm: send_subscribe')
      }
    },
    components: { vInput, vCheckbox }
  }
</script>

<style lang="stylus">
  .subscribe-block
    border-top solid 1px $border-color-gray

    &__wrapper
      display flex
      flex-direction column

      +media-width-up($md)
        flex-direction row
        justify-content space-between
        align-items center

      +media-width-up($lg)
        align-items flex-start

    &__head
      display flex
      flex-direction column

      +media-width-up($md)
        width 50%

      +media-width-up($lg)
        width calc(100% / 3)

    &__title
      margin-bottom 25px
      text-align center

      +media-width-up($md)
        margin-bottom 0
        text-align left

    &__text
      text-align center
      color $color-gray-secondary
      margin-bottom 25px

      +media-width-up($md)
        max-width 400px
        padding-right 20px
        margin-bottom 0
        text-align left

    &__content
      display flex
      flex-direction column

      +media-width-up($md)
        width 50%

      +media-width-up($lg)
        flex-direction row
        flex-wrap wrap
        width calc(100% / 3 * 2)

    &__field
      +media-width-up($lg)
        width calc(100% - 220px - 20px)

    &__checkbox
      +media-width-up($lg)
        order 1
</style>
