<template>
  <div class="callback v-popup__item">
    <div class="v-popup__item_control">
      <h2 v-if="!success" class="title_h2">Заказать звонок</h2>
      <h2 v-else class="title_h2">Спасибо!</h2>
      <button
        class="v-popup__item_close close-circle"
        v-html="require('@/static/images/ui-ux/close.svg?include')"
        @click="TOGGLE('is_open_call_back')"
      ></button>
    </div>
    <form
      v-if="!success"
      class="callback__form v-popup__item_form"
      @submit.prevent="validateForm"
    >
      <v-input
        type="text"
        placeholder="Имя"
        className="callback__field v-popup__item_field"
        v-model.trim="form.name"
        :requiredError="$v.form.name.$error && !$v.form.name.required"
        :validError="
          $v.form.name.$error &&
          (!$v.form.name.alpha || !$v.form.name.minLength)
        "
        @resetError="$v.form.name.$reset()"
      />
      <v-phone
        placeholder="Телефон"
        className="callback__field v-popup__item_field"
        v-model.trim="form.phone"
        :requiredError="$v.form.phone.$error && !$v.form.phone.required"
        :validError="$v.form.phone.$error && !$v.form.phone.phoneValidate"
        @resetError="$v.form.phone.$reset()"
      />
      <v-checkbox
        className="callback__checkbox"
        v-model="form.terms"
        :requiredError="$v.form.terms.$error"
        @resetError="$v.form.terms.$reset()"
      />
      <button class="callback__btn v-popup__item_btn btn_large btn_red">
        Отправить
      </button>
    </form>
    <div v-else class="callback__success">
      <p>Ваша заявка принята, в ближайшее время Вам перезвонит наш менеджер.</p>
    </div>
  </div>
</template>

<script>
  import {
    required,
    helpers,
    sameAs,
    minLength
  } from 'vuelidate/lib/validators'
  import { PHONE_REGEX, ALPHA_REGEX } from '@/CONST'
  import vInput from '@/components/v-modules/v-field-input'
  import vPhone from '@/components/v-modules/v-field-phone'
  import vCheckbox from '@/components/v-modules/v-field-checkbox'
  import { mapActions } from 'vuex'

  const phoneValidate = helpers.regex('phoneValidate', PHONE_REGEX)
  const alpha = helpers.regex('alpha', ALPHA_REGEX)

  export default {
    name: 'CallBack',
    data() {
      return {
        success: false,
        form: {
          name: '',
          phone: '',
          terms: true
        }
      }
    },
    validations: {
      form: {
        name: { required, alpha, minLength: minLength(2) },
        phone: { required, phoneValidate },
        terms: { sameAs: sameAs(() => true) }
      }
    },
    methods: {
      ...mapActions('boolean', ['TOGGLE']),
      validateForm() {
        this.$v.form.$touch()
        if (!this.$v.$invalid) this.SUBMIT_FORM()
      },
      clear_form() {
        this.form.name = ''
        this.form.phone = ''
        this.$v.form.phone.$reset()
        this.$v.form.name.$reset()
      },
      async SUBMIT_FORM() {
        try {
          await console.log('SUBMIT_FORM')
          this.trackSend()
          this.success = true
          this.clear_form()
        } catch (e) {
          console.error(e)
        } finally {
          setTimeout(() => {
            console.log('finally')
          }, 1000)
        }
      },
      trackSend() {
        console.log('gtm: send_call_back')
      }
    },
    components: { vInput, vPhone, vCheckbox }
  }
</script>

<style lang="stylus" scoped>
  .callback
    &__form
      flex-wrap wrap

    &__field
      +media-width-up($md)
        width calc((100% - 220px) / 2 - 20px)

    &__checkbox
      +media-width-up($md)
        order 1

    &__success
      min-height 133px

    &__btn
      +media-width-up($md)
        margin-bottom 25px
</style>
