<template>
  <router-link
    tag="div"
    :to="{ name: 'Offer', params: { id: id } }"
    href="/href"
    class="card-offer"
  >
    <div class="card-offer__header">
      {{ title }}
    </div>
    <div class="card-offer__image">
      <v-label :label="label" />
      <img :src="require(`@/static/images/${image}`)" alt="" />
    </div>
    <div class="card-offer__props">
      <span class="card-offer__props_item">
        <span
          class="card-offer__props_icon"
          v-html="require('@/static/images/ui-ux/id.svg?include')"
        ></span>
        {{ id }}
      </span>
      <span class="card-offer__props_item">
        <span
          class="card-offer__props_icon"
          v-html="require('@/static/images/ui-ux/floor.svg?include')"
        ></span>
        {{ floor | ending }}
      </span>
      <span class="card-offer__props_item">
        <span
          class="card-offer__props_icon"
          v-html="require('@/static/images/ui-ux/area.svg?include')"
        ></span>
        {{ area }}&nbsp;м²
      </span>
    </div>
    <div class="card-offer__footer">
      <template v-if="hidden_price">По запросу</template>
      <template v-else>
        {{ price | priceFormat }} {{ currency | currencySymbol }}
      </template>
      <v-like class="card-offer__like" :id="id" />
    </div>
  </router-link>
</template>

<script>
  import vLike from '@/components/v-modules/v-like.vue'
  import vLabel from '@/components/v-modules/v-label.vue'

  export default {
    props: {
      id: {
        type: Number
      },
      title: {
        type: String
      },
      image: {
        type: String,
        default: 'default.jpg'
      },
      floor: {
        type: Number
      },
      area: {
        type: Number
      },
      price: {
        type: Number
      },
      hidden_price: {
        type: Boolean,
        default: false
      },
      currency: {
        type: String,
        default: 'rub'
      },
      label: {
        type: String
      }
    },
    filters: {
      ending(value) {
        const num = Number(value)

        if (num === 1) {
          return `${num} комната`
        } else if (num > 1 && num < 5) {
          return `${num} комнаты`
        } else {
          return `${num} комнат`
        }
      },
      priceFormat(value) {
        return value.toString().replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ')
      },
      currencySymbol(value) {
        if (value === 'rub') {
          return '₽'
        } else if (value === 'usd') {
          return '$'
        } else {
          return '€'
        }
      }
    },
    components: { vLike, vLabel }
  }
</script>

<style lang="stylus">
  .card-offer
    display flex
    flex-direction column
    border border = solid 1px $border-color-gray
    background #fff
    cursor pointer
    transition box-shadow ease-in .2s

    +media-width-up($md)
      width 344px

    &:hover
      box-shadow 0 3px 5px alpha(#000, .3)

      .card-offer__image img
        transform scale(1.1)

    &__header
      flex-grow 1
      letter-spacing -0.4px
      text-transform uppercase
      text-align center
      color $color-gray-blue
      min-height 100px
      padding 20px 10px 15px

      +media-width-up($md)
        font-size 18px

    &__image
      overflow hidden
      position relative

      img
        width 100%
        height 250px
        object-fit cover
        object-position center
        transition transform ease-in .2s

    &__props
      padding 20px 10px
      display flex
      justify-content space-between
      color color = $color-gray-secondary
      font-size 14px
      line-height 1

      &_item
        display flex
        align-items center

      &_icon
        height 16px
        max-width 16px
        display flex
        align-items center
        margin-right 4px

        path
          fill color

    &__footer
      padding 15px 10px
      border-top border
      font-size 26px
      line-height 1
      position relative
      display flex
      align-items center
      justify-content center

    &__like
      position absolute
      right 10px

  .like
    display inline-block
    width 24px
    height 24px
</style>
