<template>
  <footer class="footer">
    <div class="footer__seo container">
      <h2>Продажа и аренда элитной недвижимости</h2>
      <p>
        Элитные квартиры и дома — тот сегмент рынка, в котором необходима
        точность и оперативность поиска. Агентство элитной недвижимости Contact
        Real Estate.
      </p>
      <p>
        Элитные квартиры и дома — тот сегмент рынка, в котором необходима
        точность и оперативность поиска. Агентство элитной недвижимости Contact
        Real Estate. <a href="/">Contact Real Estate</a>
      </p>
    </div>
  </footer>
</template>

<style lang="stylus">
  .footer
    margin-top auto
    background linear-gradient(180deg, #252235 0%, #2c333e 100%)
    color $default-color-footer

    &__seo
      padding-top 40px
      padding-bottom 25px
      border-bottom solid 1px $default-color-footer
      font-size 12px

      +media-width-up($lg)
        font-size 16px

      h1, h2, h3, h4, h5, h6
        title-h2()
        margin-bottom 20px

      p:not(:last-child)
        margin-bottom 16px

      a
        color $color-red-secondary
</style>
