<template>
  <header class="header">
    <button class="header__btn _burger" @click="TOGGLE('is_open_menu')">
      <span v-html="require('@/static/images/ui-ux/burger.svg?include')"></span>
    </button>
    <nav class="header__container container-full">
      <NuxtLink
        to="/"
        class="header__logo"
        v-html="require('@/static/images/logo.svg?include')"
      ></NuxtLink>
      <ul class="nav-first">
        <li class="nav-first__item" v-for="item in menuList" :key="item.name">
          <NuxtLink :to="item.link" class="nav-first__item_link">
            {{ item.name }}
          </NuxtLink>
          <ul class="_parent" v-if="item.parent">
            <li v-for="parent in item.parent" :key="parent.name">
              <NuxtLink :to="'/' + parent.link">
                {{ parent.name }}
              </NuxtLink>
            </li>
          </ul>
        </li>
      </ul>
      <div class="header__callback">
        <span>+7 (495) 151-28-64</span>
        <button
          class="header__btn _callback"
          @click="TOGGLE('is_open_call_back')"
        >
          Заказать звонок
        </button>
      </div>
    </nav>
    <ul class="nav-mobil">
      <li class="nav-mobil__item">
        <a
          href="https://api.whatsapp.com/send?phone=79260770403"
          target="_blank"
          rel="noopener noreferrer"
          class="header__btn _square"
        >
          <span
            v-html="
              require('@/static/images/ui-ux/whats_app_black.svg?include')
            "
          ></span>
        </a>
      </li>
      <li class="nav-mobil__item">
        <a href="tel:+74951512864" target="_blank" class="header__btn _square">
          <span
            v-html="require('@/static/images/ui-ux/call.svg?include')"
          ></span>
        </a>
      </li>
      <li class="nav-mobil__item">
        <button class="header__btn _square" @click="TOGGLE('is_open_search')">
          <span
            v-html="require('@/static/images/ui-ux/search.svg?include')"
          ></span>
        </button>
      </li>
    </ul>
  </header>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    computed: {
      ...mapGetters('menu', ['menu']),
      menuList() {
        return Object.values(this.menu)
      }
    },
    methods: {
      ...mapActions('boolean', ['TOGGLE'])
    }
  }
</script>

<style lang="stylus">
  .header
    position fixed
    z-index 20
    width 100%
    height 55px
    background-color #fff
    display flex
    color $default-color-menu
    box-shadow 0 2px 3px alpha(#000,  .3)

    +media-width-up($md)
      height 85px

    &__btn

      &._burger
        display flex
        justify-content center
        align-items center
        flex-shrink 0
        height 55px
        width 55px
        position relative
        transition background-color ease-in .2s

        +media-width-up($md)
          height 85px
          width 85px

        &::before
          content ''
          position absolute
          height 100%
          width 100%
          background-color $color-red-primary
          z-index -1

        span
          transition transform  ease-in .3s
          width 30px
          height 30px

          svg
            max-width 100%
            max-height 100%
            fill #fff

        &:hover
          background-color alpha(#000, .1)

          span
            transform scale(1.1)

      &._square
        display flex
        justify-content center
        align-items center
        flex-shrink 0
        height 50px
        width 50px

        span
          width 30px
          height 30px

          path
            fill #3c3c3a

      &._callback
        font-size 12px
        padding 8px 10px
        color $color-red-secondary
        border solid 1px $color-red-secondary
        border-radius $border-sm
        transition background-color ease-in .2s

        &:hover
          background-color alpha($color-red-secondary, .2)

    &__logo
      display inline-block
      width 85px
      height 100%

      +media-width-up($md)
        width 130px

    &__container
      display flex

    &__callback
      display none
      flex-direction column
      justify-content space-around
      margin-left auto

      +media-width-up($md)
        display flex

      span
        font-size 16px

  .nav-first
    display none
    padding 0 $offset-lg

    +media-width-up($xl)
      display flex

    &__item
      position relative
      font-size 14px
      font-weight bold

      &_link
        padding 0 15px
        display flex
        align-items center
        height 100%
        text-decoration none
        text-transform uppercase
        transition background-color ease-in .2s

        &:active,
        &:hover
          background-color #f5f5f5

        &:hover + ul
          opacity 1
          top auto

    ._parent
      opacity 0
      flex-direction column
      position absolute
      top -1000px
      background-color #fff
      width 300px
      box-shadow 0 0 10px alpha(#000, .2)
      transition opacity ease-in .2s

      &:hover
        opacity 1
        top auto

      li
        position relative

        &:not(:last-child)
          border-bottom solid 1px $color-gray-border

        & > a
          padding 20px
          display flex
          align-items center
          text-decoration none
          transition background-color ease-in .3s, color ease-in .3s

          &:hover,
          &.nuxt-link-exact-active
            background-color #f5f5f5
            color $color-red-secondary

  .nav-mobil
    display flex
    margin-left auto

    +media-width-up($md)
      display none

    &__item
      display flex
      align-items center

      &:not(last-child) > .header__btn
        border-right solid 1px #e9e9e9
</style>
