<template>
  <section class="help-block section container">
    <div class="help-block__head">
      <h2 class="help-block__title title_h2">Нужна помощь?</h2>
      <p class="help-block__text">
        Свяжитесь с&nbsp;нами и&nbsp;мы&nbsp;обязательно вам поможем
      </p>
    </div>
    <button class="btn_large btn_red" @click="TOGGLE('is_open_call_back')">
      Перезвонить
    </button>
  </section>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    name: 'help-block',
    methods: {
      ...mapActions('boolean', ['TOGGLE'])
    }
  }
</script>

<style lang="stylus">
  .help-block
    display flex
    flex-direction column

    +media-width-up($md)
      flex-direction row
      justify-content space-between
      align-items center

    &__head
      display flex
      flex-direction column

    &__title
      margin-bottom 25px
      text-align center

      +media-width-up($md)
        margin-bottom 0
        text-align left

    &__text
      text-align center
      color $color-gray-secondary
      margin-bottom 25px

      +media-width-up($md)
        margin-bottom 0
        text-align left
</style>
