<template>
  <div class="login v-popup__item">
    <div class="v-popup__item_control">
      <h2 class="title_h2">Вход в систему</h2>
      <button
        class="v-popup__item_close close-circle"
        v-html="require('@/static/images/ui-ux/close.svg?include')"
        @click="TOGGLE('is_open_login')"
      ></button>
    </div>
    <form class="v-popup__item_form" @submit.prevent="validateForm">
      <v-input
        type="text"
        placeholder="Логин"
        className="v-popup__item_field"
        v-model.trim="form.login"
        :requiredError="$v.form.login.$error && !$v.form.login.required"
        :validError="loginError"
        validTextError="Неверный логин или пароль"
        @resetError="$v.form.login.$reset(), (loginError = false)"
      />
      <v-input
        type="password"
        placeholder="Пароль"
        className="v-popup__item_field"
        v-model.trim="form.password"
        :requiredError="$v.form.password.$error && !$v.form.password.required"
        @resetError="$v.form.password.$reset()"
      />
      <button class="v-popup__item_btn btn_large btn_red">Войти</button>
    </form>
  </div>
</template>

<script>
  import { required } from 'vuelidate/lib/validators'
  import vInput from '@/components/v-modules/v-field-input'
  import { mapActions } from 'vuex'

  export default {
    name: 'Login',
    data() {
      return {
        loginError: false,
        form: {
          login: '',
          password: ''
        }
      }
    },
    validations: {
      form: {
        login: { required },
        password: { required }
      }
    },
    methods: {
      ...mapActions('boolean', ['TOGGLE']),
      validateForm() {
        this.$v.form.$touch()
        if (!this.$v.$invalid) this.SUBMIT_FORM()
      },
      async SUBMIT_FORM() {
        try {
          await console.log('SUBMIT_FORM')
          this.loginError = true
        } catch (e) {
          console.error(e)
        } finally {
          setTimeout(() => {
            console.log('finally')
          }, 1000)
        }
      }
    },
    components: { vInput }
  }
</script>
