<template>
  <div class="menu-left">
    <transition name="left">
      <div class="menu-left__menu" v-if="is_open">
        <button
          class="menu-left__close close"
          v-html="require('@/static/images/ui-ux/close.svg?include')"
          @click="TOGGLE('is_open_menu')"
        ></button>
        <ul class="menu-left__nav">
          <li
            class="menu-left__nav_item"
            v-for="item in menuList"
            :key="item.name"
          >
            <p v-if="item.parent" class="menu-left__nav_title _link-title">
              {{ item.name }} <span v-if="item.count">({{ item.count }})</span>
            </p>
            <a
              v-else
              :href="item.link"
              class="menu-left__nav_title _link-title"
            >
              {{ item.name }} <span v-if="item.count">({{ item.count }})</span>
            </a>
            <a
              v-for="parent in item.parent"
              :key="parent.name"
              :href="parent.link"
              class="menu-left__nav_link"
            >
              {{ parent.name }}
            </a>
          </li>
        </ul>
        <a href="/" class="menu-left__favor _link-title">
          <span
            v-html="require('@/static/images/ui-ux/favorit.svg?include')"
          ></span>
          Избранное
        </a>
        <ul class="menu-left__company">
          <li v-for="item in menu.company.parent" :key="item.name">
            <a :href="item.link">{{ item.name }}</a>
          </li>
        </ul>
        <div class="menu-left__bottom">
          <button
            class="menu-left__bottom_btn"
            @click="TOGGLE('is_open_menu'), TOGGLE('is_open_search')"
          >
            <span
              v-html="require('@/static/images/ui-ux/search.svg?include')"
            ></span>
            Поиск объекта
          </button>
          <button
            class="menu-left__bottom_btn"
            @click="TOGGLE('is_open_menu'), TOGGLE('is_open_call_back')"
          >
            <span
              v-html="require('@/static/images/ui-ux/call.svg?include')"
            ></span>
            Заказать звонок
          </button>
          <a href="/" class="menu-left__bottom_btn">
            <span
              v-html="require('@/static/images/ui-ux/favorit.svg?include')"
            ></span>
            Объекты на&nbsp;карте
          </a>
        </div>
        <div class="menu-left__logon">
          <button
            class="menu-left__logon_btn"
            @click="TOGGLE('is_open_menu'), TOGGLE('is_open_login')"
          >
            Личный кабинет
          </button>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div
        class="menu-left__overlay"
        v-if="is_open"
        @click="TOGGLE('is_open_menu')"
      ></div>
    </transition>
  </div>
</template>

<script>
  import _omit from 'lodash.omit'
  import { mapGetters, mapActions } from 'vuex'

  export default {
    props: {
      is_open: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      ...mapGetters('menu', ['menu']),
      menuList() {
        return _omit(this.menu, 'company')
      }
    },
    methods: {
      ...mapActions('boolean', ['TOGGLE'])
    }
  }
</script>

<style lang="stylus">
  .menu-left

    &__menu
      background $gradient-gray
      position fixed
      z-index 30
      width 100%
      height 100%
      overflow-y auto
      padding 65px 0 30px

      +media-width-up($sm)
        max-width 360px

    &__overlay
      overlay()

    &__close
      position absolute
      top 20px
      right 20px

    ._link-title
      color #fff
      font-size 22px
      font-weight 500
      padding 10px 20px

      &:hover
        background-color alpha(#fff, .1)

    &__nav

      a
        line-height 1
        display inline-block
        width 100%
        padding 10px 20px

        &:hover
          background-color alpha(#fff, .1)

      &_item
        line-height 1

        + li
          margin-top 20px

      & &_title

        span
          margin-left 10px
          font-size 16px
          font-weight 300
          color $color-brawn-primary

      &_link
        font-size 16px
        color $color-brawn-primary

    &__favor
      display flex
      align-items center
      margin-top 20px

      span
        display flex
        justify-content center
        align-items center
        width 52px
        height 52px
        margin-right 10px
        border-radius 50%
        background-color $color-red-secondary

        svg
          width 25px
          height 25px
          fill #fff

    &__company
      display flex
      flex-wrap wrap
      padding 0 20px
      margin-top 20px

      li
        width 50%
        color #fff
        font-size 16px

        > *
          padding 10px 0

      a
        display inline-block
        transition color ease-in .2s

        &:hover
          color $color-brawn-primary

    &__bottom
      display flex
      padding 0 20px
      margin-top 20px

      &_btn
        width calc(100% / 3)
        display flex
        flex-direction column
        align-items center
        text-align center
        color #fff
        transition color ease-in .2s

        &:not(:last-child)
          border-right solid 1px alpha(#fff, .1)

        span
          width 35px
          height 35px
          margin-bottom 10px

          svg
            max-width 100%
            max-height 100%
            fill #fff
            transition fill  ease-in .2s

        &:hover
          color $color-brawn-primary

          svg
            fill $color-brawn-primary

    &__logon
      margin-top 40px
      display flex
      justify-content center

      &_btn
        button-reset()
        color alpha(#fff .3)
        transition color ease-in .2s

        &:hover
          color $color-brawn-primary
</style>
