<template>
  <div class="message-send v-popup__item">
    <div class="v-popup__item_control">
      <h2 v-if="!success" class="title_h2">Написать</h2>
      <h2 v-else class="title_h2">Спасибо!</h2>
      <button
        class="v-popup__item_close close-circle"
        v-html="require('@/static/images/ui-ux/close.svg?include')"
        @click="TOGGLE('is_open_message_send')"
      ></button>
    </div>
    <form
      v-if="!success"
      class="message-send__form v-popup__item_form"
      @submit.prevent="validateForm"
    >
      <v-input
        type="text"
        placeholder="Имя"
        class="message-send__field v-popup__item_field"
        v-model.trim="form.name"
        :validError="
          $v.form.name.$error &&
          (!$v.form.name.alpha || !$v.form.name.minLength)
        "
        @resetError="$v.form.name.$reset()"
      />
      <v-phone
        placeholder="Телефон"
        class="message-send__field v-popup__item_field"
        v-model.trim="form.phone"
        :validError="$v.form.phone.$error && !$v.form.phone.phoneValidate"
        @resetError="$v.form.phone.$reset()"
      />
      <v-input
        type="text"
        placeholder="Email"
        class="message-send__field v-popup__item_field"
        v-model.trim="form.email"
        :requiredError="$v.form.email.$error && !$v.form.email.required"
        :validError="$v.form.email.$error && !$v.form.email.email"
        @resetError="$v.form.email.$reset()"
      />
      <v-textarea
        placeholder="Ваше сообщение..."
        class="message-send__field_textarea v-popup__item_field"
        v-model.trim="form.message"
        :requiredError="$v.form.message.$error && !$v.form.message.required"
        @resetError="$v.form.message.$reset()"
      />
      <v-file @change="handleFile" />
      <v-checkbox
        class="message-send__checkbox"
        v-model="form.terms"
        :requiredError="$v.form.terms.$error"
        @resetError="$v.form.terms.$reset()"
      />
      <button class="message-send__btn v-popup__item_btn btn_large btn_red">
        Отправить
      </button>
    </form>
    <div v-else class="message-send__success">
      <p>Ваше сообщение отправленно.</p>
    </div>
  </div>
</template>

<script>
  import {
    required,
    helpers,
    email,
    sameAs,
    minLength
  } from 'vuelidate/lib/validators'
  import { PHONE_REGEX, ALPHA_REGEX } from '@/CONST'
  import vInput from '@/components/v-modules/v-field-input'
  import vPhone from '@/components/v-modules/v-field-phone'
  import vTextarea from '@/components/v-modules/v-field-textarea'
  import vFile from '@/components/v-modules/v-field-file'
  import vCheckbox from '@/components/v-modules/v-field-checkbox'
  import { mapActions } from 'vuex'

  const phoneValidate = helpers.regex('phoneValidate', PHONE_REGEX)
  const alpha = helpers.regex('alpha', ALPHA_REGEX)

  export default {
    name: 'message-send',
    data() {
      return {
        success: false,
        form: {
          name: '',
          phone: '',
          email: '',
          message: '',
          file: '',
          terms: true
        }
      }
    },
    validations: {
      form: {
        name: { alpha, minLength: minLength(2) },
        phone: { phoneValidate },
        email: { required, email },
        message: { required },
        terms: { sameAs: sameAs(() => true) }
      }
    },
    methods: {
      ...mapActions('boolean', ['TOGGLE']),
      handleFile(file) {
        this.form.file = file
      },
      validateForm() {
        this.$v.form.$touch()
        if (!this.$v.$invalid) this.SUBMIT_FORM()
      },
      clear_form() {
        this.form.name = ''
        this.form.phone = ''
        this.form.email = ''
        this.form.message = ''
        this.form.file = ''
        this.$v.form.phone.$reset()
        this.$v.form.name.$reset()
        this.$v.form.email.$reset()
        this.$v.form.message.$reset()
      },
      async SUBMIT_FORM() {
        try {
          await console.log('SUBMIT_FORM')
          this.trackSend()
          this.success = true
          this.clear_form()
        } catch (e) {
          console.error(e)
        } finally {
          setTimeout(() => {
            console.log('finally')
          }, 1000)
        }
      },
      trackSend() {
        console.log('gtm: send_message')
      }
    },
    components: { vInput, vPhone, vTextarea, vCheckbox, vFile }
  }
</script>

<style lang="stylus" scoped>
  .message-send
    &__form
      flex-wrap wrap

    &__field
      +media-width-up($md)
        width calc(100% / 3 - (40px / 3))

      &:nth-child(3)
        +media-width-up($md)
          margin-right 0

      &_textarea
        width 100%
        margin-right 0

    &__btn
      margin-bottom 25px


    &__checkbox
      +media-width-up($md)
        order 1

    &__success
      min-height 133px
</style>
