<template>
  <div class="search">
    <v-select
      :isSearch="true"
      v-model.trim="selected"
      :option="filteredDataOnClient"
      placeholder="Поиск по Названию, Адресу или ID"
      @runSearch="runSearch"
    />
    <button class="search__btn btn_large btn_red" @click="runSearch(selected)">
      Найти
    </button>
  </div>
</template>

<script>
  import vSelect from '@/components/v-modules/v-select'

  export default {
    data() {
      return {
        selected: '',
        filteredDataOnServer: []
      }
    },
    computed: {
      filteredDataOnClient() {
        if (this.selected) {
          return this.filteredDataOnServer.filter(item => {
            return item.toLowerCase().includes(this.selected.toLowerCase())
          })
        }
        return this.filteredDataOnServer
      }
    },
    methods: {
      runSearch(val) {
        console.log('runSearch:', val)
      },
      async GET_FILTERED_DATA() {
        // получаем первоначальный результат фильтрации с сервера,
        // после введения 3-х символов,
        // потом обрабатываем его на клиенте
        try {
          console.log('GET_FILTERED_DATA')
          const result = await [
            '1 результат',
            'Найтсбридж',
            '2 результат',
            'результат 3',
            'результат 4',
            'результат 5',
            '1 результат',
            'Найтсбридж',
            '2 результат',
            'результат 3',
            'результат 4',
            'результат 5'
          ]
          this.filteredDataOnServer = result
        } catch (e) {
          console.error(e)
        }
      }
    },
    watch: {
      selected(newVal, oldVal) {
        const charCount = 3 // кол-во первых символов строки поиска для старта автокомплита
        if (
          newVal.length >= charCount &&
          newVal.substring(0, charCount) !== oldVal.substring(0, charCount)
        ) {
          this.GET_FILTERED_DATA()
        }
      }
    },
    components: { vSelect }
  }
</script>

<style lang="stylus">
  .search
    display flex
    width 100%
    max-width 860px
    padding 0 10px

    +media-width-up($md)
      padding 0

    &__btn
      flex-shrink 3
</style>
