<template>
  <aside class="sidebar">
    <div class="sidebar__wrap">
      <button class="sidebar__btn _square" @click="TOGGLE('is_open_search')">
        <span
          v-html="require('@/static/images/ui-ux/search.svg?include')"
        ></span>
      </button>
      <a href="#" class="sidebar__btn _square">
        <span class="sidebar__favor">
          <span v-html="require('@/static/images/ui-ux/favorit.svg?include')">
          </span>
          <em v-if="favorites_length" class="sidebar__favor_count">
            {{ favorites_length }}
          </em>
        </span>
      </a>
      <a href="#" class="sidebar__btn _square">
        <span
          v-html="require('@/static/images/ui-ux/search.svg?include')"
        ></span>
      </a>
      <button class="sidebar__btn _square" @click="TOGGLE('is_open_call_back')">
        <span v-html="require('@/static/images/ui-ux/call.svg?include')"></span>
      </button>
      <a href="#" class="sidebar__btn _square">
        <span
          v-html="require('@/static/images/ui-ux/visible.svg?include')"
        ></span>
      </a>
      <button class="sidebar__btn _login" @click="TOGGLE('is_open_login')">
        <span
          v-html="require('@/static/images/ui-ux/login.svg?include')"
        ></span>
      </button>
    </div>
  </aside>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'sidebar',
    computed: {
      ...mapGetters('localStorage', ['favorites_length'])
    },
    methods: {
      ...mapActions('boolean', ['TOGGLE'])
    }
  }
</script>

<style lang="stylus">
  .sidebar
    width 85px
    height 100vh
    flex-shrink 0
    display none

    +media-width-up($xl)
      display block

    &__wrap
      background $color-red-primary
      width 85px
      height calc(100% - 85px)
      position fixed
      top 85px
      flex-direction column
      display flex

    &__btn
      display flex
      justify-content center
      align-items center
      width 100%
      transition background-color ease-in .2s

      &:hover
        background-color alpha(#000, .1)

        span
          transform scale(1.1)

        em
          transform scale(0.9)

      &._square
        height 85px
        border-bottom solid 1px alpha(#000, .25)

        &:first-child
          border-top solid 1px alpha(#000, .25)

        span
          transition transform  ease-in .2s
          width 30px
          height 30px

          svg
            max-width 100%
            max-height 100%
            fill #fff

      &._login
        margin-top auto
        padding 20px 0

        span
          transition transform  ease-in .2s
          width 20px

    &__favor
      position relative

      &_count
        position absolute
        right -5px
        top -3px
        background #fff
        box-shadow 3px 3px 5px alpha(#000, .3)
        font-size 12px
        font-style normal
        font-weight 500
        border-radius 50%
        height 15px
        width 15px
        display flex
        align-items center
        justify-content center
        transition transform  ease-in .2s
</style>
