button()
  display flex
  align-items center
  justify-content center
  letter-spacing 0.2px
  padding-left 16px
  padding-right 16px
  border-radius $border-sm
  border none
  box-shadow none
  position relative
  overflow hidden
  text-decoration none
  transition all ease-in-out .2s
  cursor pointer

  &:focus
    outline none

  &:active
    box-shadow none

button-large()
  button()
  width 100%
  height 62px
  font-size 18px

  +media-width-up($md)
    max-width 220px

button-smile()
  button()
  width max-content
  height 42px
  padding 0 20px
  font-size 14px
  text-transform uppercase

button-reset()
  border none
  box-shadow none
  outline none
  background transparent
  cursor pointer

button-red()
  color #fff
  background $color-red-secondary

  &:hover
    background $color-red-primary

button-line()
  color $color-gray-secondary
  border solid 1px $border-color-gray

  &:hover
    color $default-color-text
    background $border-color-gray

button-close()
  button-reset()
  height 25px
  width 25px
  transition transform ease-in-out .2s

  &:hover
    transform rotate(90deg)

button-close-circle()
  button-reset()
  border solid 1px $color-red-secondary
  border-radius 50%
  width 40px
  height 40px
  padding 10px
  transition transform ease-in-out .2s

  &:hover
    transform rotate(90deg)

  path
    stroke $color-red-secondary
