container-full()
  width 100%
  position relative
  padding-left $offset-xs
  padding-right $offset-xs
  margin-left auto
  margin-right auto

  +media-width-up($md)
    padding-left $offset-lg
    padding-right $offset-lg

container()
  position relative
  max-width $container-xs
  padding-left $offset-xs
  padding-right $offset-xs
  margin-left auto
  margin-right auto

  +media-width-up($md)
    max-width $container-lg
    width "calc(100% - %s*2)" % $offset-lg
    padding-left $offset-lg
    padding-right $offset-lg
