input-reset()
  width 100%
  padding 0 10px
  background transparent
  font-size 16px
  color inherit
  display flex
  align-items center
  border none
  white-space nowrap
  letter-spacing -0.5px

input-default()
  input-reset()
  height 44px
  border solid 1px $border-color-gray
  border-radius 2px

input-large()
  input-reset()
  height 62px
  border solid 1px $border-color-gray
  border-radius 2px
  padding-left 16px
  padding-right 16px
  transition border-color ease-in .2s

  &:focus
    border-color #000

textarea()
  input-reset()
  height 144px
  padding-top 16px
  padding-bottom 16px
  border solid 1px $border-color-gray
  border-radius 2px
  padding-left 16px
  padding-right 16px
  transition border-color ease-in .2s

  &:focus
    border-color #000
    border-width 1px
    outline none



