<template>
  <section class="content-block">
    <div class="container">
      <sortable-block
        :perPage="perPage"
        :sortBy="sortBy"
        :currency="currency"
      />
      <div class="content-block__offers row">
        <div
          class="content-block__offer col-12 col-sm-6 col-xl-4"
          v-for="offer in offersData"
          :key="offer.id"
        >
          <card-offer
            class="offer"
            :id="offer.id"
            :href="offer.id"
            :title="offer.title"
            :image="offer.image"
            :floor="offer.floor"
            :area="offer.area"
            :price="offer.price"
            :hidden_price="offer.hidden_price"
            :label="offer.label"
            :currency="currency"
          />
        </div>
      </div>
      <v-pagination
        :perPage="perPage"
        :currentPage="currentPage"
        :total="countOffers"
        @changePage="CHANGE_QUERY({ ...$route.query, currentPage: $event })"
      />
    </div>
  </section>
</template>

<script>
  import sortableBlock from '@/components/Categories/sortableBlock'
  import cardOffer from '@/components/card-offer'
  import vPagination from '@/components/v-modules/v-pagination'

  import { mapState, mapActions } from 'vuex'

  export default {
    name: 'content-block',
    computed: {
      ...mapState('offers', [
        'offersData',
        'perPage',
        'currentPage',
        'countOffers',
        'sortBy',
        'currency'
      ])
    },
    methods: {
      ...mapActions('offers', ['CHANGE_QUERY'])
    },
    components: { sortableBlock, cardOffer, vPagination }
  }
</script>

<style lang="stylus" scoped>
  .content-block
    background $color-gray-light

    &__offers
      margin-top: 15px

    &__offer
      margin-bottom: 20px

  .offer
    width 100%
    height 100%
</style>
