<template>
  <section class="filter-block section container">
    <div class="filter-block__items row">
      <slot name="visible"></slot>
    </div>
    <transition name="slide">
      <div v-show="is_visible" class="filter-block__items row">
        <slot name="hidden"></slot>
      </div>
    </transition>
    <div class="filter-block__control">
      <button class="filter-block__btn-adv" @click="is_visible = !is_visible">
        <span :class="{ minus: is_visible, 'filter-block__btn-adv_dec': true }">
        </span>
        Расширенный фильтр
      </button>
      <button class="filter-block__btn-reset" @click="reset">
        × Очистить фильтр
      </button>
    </div>
  </section>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    name: 'filter-block',
    data() {
      return {
        is_visible: false
      }
    },
    methods: {
      ...mapActions('offers', ['CHANGE_QUERY']),
      reset() {
        this.CHANGE_QUERY({})
      }
    }
  }
</script>

<style lang="stylus">
  .filter-block

    &__items
      margin-bottom 30px

      & >:not(:last-child)
        margin-bottom: 20px

    .v-range__header
      .v-select__input
        font-size 14px
        font-weight 500
        height auto
        border none
        padding-left 0

    .v-select__title,
    .v-range__header
      font-weight 500
      color #000

    &__control
      display flex
      flex-direction column
      align-items flex-start

      +media-width-up($md)
        flex-direction row
        align-items center

      & > button:not(:last-child)
        margin-bottom 20px

        +media-width-up($md)
          margin-bottom 0

    &__btn-adv
      color $color-red-secondary
      font-size 14px
      line-height 1
      text-decoration underline
      display flex
      align-items center

      &:hover &_dec
        background $color-red-secondary

        &::before,
        &::after
          background #fff

      &_dec
        display inline-block
        width 15px
        height 15px
        border-radius 50%
        border solid 1px $color-red-secondary
        margin-right 5px
        color $color-red-secondary
        transition background ease-in .2s
        position relative

        &.minus::before
          display none

        &::before,
        &::after
          content ''
          position absolute
          top 0
          left 0
          right 0
          bottom 0
          background $color-red-secondary
          transition background ease-in .2s

        &::before
          width 1px
          margin 2px auto

        &::after
          height 1px
          margin auto 2px

    &__btn-reset
      font-size 14px
      color $color-gray-secondary
      transition color ease-in .2s

      +media-width-up($md)
        margin-left auto
        margin-right 20px

      &:hover
        color $color-red-secondary
</style>
