<template>
  <section class="hero-categories">
    <div class="hero-categories__container container">
      <h1 class="hero-categories__title">{{ title }}</h1>
      <links-list :links="districts" :count="countOffers" />
    </div>
  </section>
</template>

<script>
  import linksList from '@/components/Categories/linksList'
  import { mapState } from 'vuex'

  export default {
    name: 'hero-categories',
    props: {
      title: {
        type: String,
        default: ''
      }
    },
    computed: {
      ...mapState('districts', ['districts']),
      ...mapState('offers', ['countOffers'])
    },
    components: { linksList }
  }
</script>

<style lang="stylus" scoped>
  .hero-categories
    min-height 250px
    background-image url("@/static/images/hero_cats.jpg")
    background-size cover
    background-position center top
    position relative

    &::before
      content ''
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      background linear-gradient(135deg, rgba(#000 .8) 0%, rgba(#000 .1) 75%)

    &__container
      position relative
      z-index 2
      display flex
      flex-direction column
      justify-content center
      height 100%
      padding-top 20px
      padding-bottom 20px
      color #fff

    &__title
      font-size 36px
      font-weight 300
      text-align center
      margin 0 0 20px

      +media-width-up($md)
        text-align left
        line-height 1

      +media-width-up($lg)
        font-size 44px
</style>
