<template>
  <div class="links-list">
    <ul class="links-list__links">
      <li v-for="item in visible_links" :key="item.id">
        <NuxtLink :to="`/${$route.params.category}/${item.path}`">
          {{ item.name }}
          <span class="links-list__links_dec"></span>
          <span>{{ item.count }}</span>
        </NuxtLink>
      </li>
      <li style="width: 100%">
        <transition-group name="slide" tag="ul" class="links-list__hidden">
          <li v-for="item in hidden_links" :key="item.id" v-show="is_visible">
            <NuxtLink :to="`/${$route.params.category}/${item.path}`">
              {{ item.name }}
              <span class="links-list__links_dec"></span>
              <span>{{ item.count }}</span>
            </NuxtLink>
          </li>
        </transition-group>
      </li>
    </ul>
    <span class="links-list__count">{{ count }} объектов</span>
    <div class="break"></div>
    <button
      class="links-list__btn"
      v-if="links.length > 6"
      @click="is_visible = !is_visible"
    >
      <span :class="{ minus: is_visible, 'links-list__btn_dec': true }"></span>
      Все районы
    </button>
  </div>
</template>

<script>
  export default {
    name: 'links-list',
    data() {
      return {
        is_visible: false
      }
    },
    props: {
      links: {
        type: Array,
        required: true
      },
      count: {
        type: Number,
        required: true
      }
    },
    computed: {
      visible_links() {
        return this.links.slice(0, 6)
      },
      hidden_links() {
        return this.links.slice(6)
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .links-list
    display flex
    flex-direction column
    align-items center

    +media-width-up($md)
      flex-direction row
      flex-wrap wrap
      align-items flex-start

    &__hidden
      display none
      flex-wrap wrap
      justify-content space-between
      overflow hidden

      +media-width-up($md)
        display flex

    &__links
      display none
      flex-wrap wrap
      margin-bottom 15px
      width 70%
      max-width 1000px
      justify-content space-between
      overflow hidden

      +media-width-up($md)
        display flex

      &_dec
        border-bottom dotted 1px #fff
        flex-grow 1
        margin 0 4px 4px
        box-sizing content-box

    li
      width 100%
      font-size 14px

      +media-width-up($md)
        width calc(50% - 10px)

      &:not(:last-child)
        margin-bottom 5px

      a
        padding 2px 5px
        display flex
        justify-content space-between
        transition background ease-in .2s

        &:hover
          background rgba(#000 .5)

    &__count
      display inline-block
      padding 10px
      font-size 24px
      border-radius 4px
      background rgba(#000 .75)

      +media-width-up($md)
        margin-left auto

    &__btn
      display none
      margin-top 15px
      color #fff
      font-size 14px
      line-height 1
      text-decoration underline
      align-items center

      +media-width-up($md)
        display flex

      &:hover &_dec
        background #fff

        &::before,
        &::after
          background #000

      &_dec
        display inline-block
        width 15px
        height 15px
        border-radius 50%
        border solid 1px #fff
        margin-right 5px
        color #fff
        transition background ease-in .2s
        position relative

        &.minus::before
          display none

        &::before,
        &::after
          content ''
          position absolute
          top 0
          left 0
          right 0
          bottom 0
          background #fff
          transition background ease-in .2s

        &::before
          width 1px
          margin 2px auto

        &::after
          height 1px
          margin auto 2px

  .break
    flex-basis 100%
    height 0
</style>
