<template>
  <div class="sortable-block">
    <div class="sortable-block__sort">
      <span class="sortable-block__sort_name">Сортировать по:</span>
      <v-select
        :value="sortBy"
        @input="CHANGE_QUERY({ ...$route.query, sortBy: $event })"
        :option="sortByOptions"
      />
    </div>
    <div class="sortable-block__sort">
      <span class="sortable-block__sort_name">Отображать по:</span>
      <v-select
        :value="perPage"
        @input="
          CHANGE_QUERY({ ...$route.query, currentPage: 1, perPage: $event })
        "
        :option="perPageOptions"
      />
    </div>
    <div class="sortable-block__control">
      <v-currency
        :value="currency"
        @input="CHANGE_QUERY({ ...$route.query, currency: $event })"
        class="sortable-block__control_currency"
      />
      <div class="sortable-block__control_link link-group">
        <button
          class="link-group__btn"
          v-html="require(`@/static/images/ui-ux/block.svg?include`)"
        ></button>
        <button
          class="link-group__btn"
          v-html="require(`@/static/images/ui-ux/task.svg?include`)"
        ></button>
        <button
          class="link-group__btn"
          v-html="require(`@/static/images/ui-ux/location.svg?include`)"
        ></button>
      </div>
    </div>
  </div>
</template>

<script>
  import vSelect from '@/components/v-modules/v-select'
  import vCurrency from '@/components/v-modules/v-currency'

  import { mapActions } from 'vuex'

  export default {
    name: 'sortable-block',
    data() {
      return {
        sortByOptions: [
          { label: 'Цене↑', value: 'priceup' },
          { label: 'Цене↓', value: 'pricedown' },
          { label: 'Площади↑', value: 'areaup' },
          { label: 'Площади↓', value: 'areadown' },
          { label: 'Рейтингу↑', value: 'ratingup' },
          { label: 'Рейтингу↓', value: 'ratingdown' }
        ],
        perPageOptions: [
          { label: '12', value: 12 },
          { label: '24', value: 24 },
          { label: '36', value: 36 },
          { label: '48', value: 48 },
          { label: '60', value: 60 }
        ]
      }
    },
    props: {
      perPage: {
        type: Number,
        required: true
      },
      sortBy: {
        type: String,
        required: true
      },
      currency: {
        type: String,
        required: true
      }
    },
    methods: {
      ...mapActions('offers', ['CHANGE_QUERY'])
    },
    components: { vSelect, vCurrency }
  }
</script>

<style lang="stylus" scoped>
  .sortable-block
    padding 25px 0
    display flex
    flex-direction column

    +media-width-up($sm)
      flex-direction row
      flex-wrap wrap

    &__sort
      display flex
      align-items center
      padding-bottom 15px
      justify-content space-between

      +media-width-up($sm)
        padding-bottom 0
        width 50%

      +media-width-up($md)
        width auto

      &:first-child
        +media-width-up($sm)
          padding-right 8px

      &:not(:first-child)
        +media-width-up($sm)
          padding-left 8px

      &_name
        color $color-gray-secondary

    &__control
      margin-top 20px
      display flex

      +media-width-up($sm)
        margin-left auto
        margin-right auto

      +media-width-up($md)
        margin 0 0 0 auto

      &_currency
        +media-width-up($lg)
          padding-right 15px
          margin-right 15px
          border-right solid 1px $border-color-gray

    /deep/ .v-select
      max-width 120px
      background #ffffff
      padding-top 12px
      padding-bottom 12px
      border-radius 2px
      border solid 1px $border-color-gray
      margin-left 15px

      &__drop
        margin-top 18px

      &__input
        height auto
        background transparent
        border none

  .link-group
    display none
    align-items center

    +media-width-up($lg)
      display flex

    &__btn
      width 25px
      height 25px
      margin 0 10px

      &:hover /deep/ svg
        fill $color-red-secondary

      /deep/ svg
        max-width 100%
        max-height 100%
        fill $color-gray-secondary
        transition fill ease-in .2s
</style>
