.fade-enter-active,
.fade-leave-active
  transition opacity .5s

.fade-enter,
.fade-leave-to
  opacity 0

.pop-enter-active,
.pop-leave-active
  transition transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;

.pop-enter,
.pop-leave-to
  opacity 0
  transform scale(0.3) translateY(-50%)

.left-enter-active,
.left-leave-active
  transition transform ease-in .3s

.left-enter,
.left-leave-to
  transform translateX(-100%)

.slide-enter-active,
.slide-leave-active
  transition all ease-in .3s

.slide-enter-to,
.slide-leave
  max-height 100px
  overflow hidden

.slide-enter,
.slide-leave-to
  overflow hidden
  max-height 0

.skeleton-loader
  overflow hidden
  position relative

  &::before
    animation loading 1.5s infinite
    content ""
    height 100%
    left 0
    position absolute
    right 0
    top 0
    transform translateX(-100%)
    z-index 1
    background linear-gradient(90deg, alpha(#fff, 0), alpha(#fff, .3), alpha(#fff, 0))

    @keyframes loading
      to
        transform translateX(100%)
