*
  box-sizing border-box

html
  overflow-x hidden
  line-height 1.2
  -webkit-text-size-adjust 100%

body
  margin 0
  color $default-color-text
  font-family 'Inter', sans-serif

html,
body
  width 100%

h1
  margin 0

a
  color inherit
  text-decoration none

p
  margin 0

button
  outline none
  background transparent
  border none
  cursor pointer
  padding 0

ul
  margin 0
  padding 0
  list-style none

img
  max-width 100%

input
  outline none

.container-full
  container-full()

.close
  button-close()

.close-circle
  button-close-circle()

.btn_large
  button-large()

.btn_smile
  button-smile()

.btn_red
  button-red()

.btn_line
  button-line()

.title_h2
  title-h2()

.section
  padding-top 40px
  padding-bottom 40px
