.noUi-target,
.noUi-target *
  touch-action: none
  user-select: none
  box-sizing: border-box

.noUi-target
  position: relative
  direction: ltr
  padding-left 9px
  padding-right 9px
  background: $color-gray-border
  border-radius: 3px
  height: 4px

.noUi-base,
.noUi-connects
  width: 100%
  height: 100%
  position: relative
  z-index: 1

.noUi-connects
  position relative
  margin-left: -9px
  margin-right: -9px
  overflow: hidden
  border-radius: 3px

.noUi-connect,
.noUi-origin
  will-change: transform
  position: absolute
  z-index: 1
  top: 0
  left: 0
  height: 100%
  width: 100%
  transform-origin: 0 0

.noUi-connect
  background: $color-red-secondary

.noUi-horizontal .noUi-origin
  height: 0

.noUi-handle
  position: absolute
  width: 18px
  height: 18px
  left: auto
  right: -9px
  top: -7px
  border-radius: 50%
  background: #FFF
  cursor: pointer
  outline none
  box-shadow 0 0 3px $color-gray-primary

.noUi-active
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin
  transition: transform 0.3s

.noUi-state-drag *
  cursor: inherit !important

/* Disabled state;
 */
[disabled] .noUi-connect
  background: #B8B8B8

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle
  cursor: not-allowed
