.slick-slider
  position relative
  display block
  box-sizing border-box
  user-select none
  -webkit-touch-callout none
  -khtml-user-select none
  -ms-touch-action pan-y
  touch-action pan-y
  -webkit-tap-highlight-color transparent

.slick-list
  position relative
  display block
  overflow hidden
  margin 0
  padding 0
  transform translate3d(0, 0, 0)

  &:focus
    outline none

  &.dragging
    cursor pointer

.slick-track
  position relative
  top 0
  left 0
  display flex
  transform translate3d(0, 0, 0)

  &.slick-center
    margin-left auto
    margin-right auto

  &::before,
  &::after
    display table
    content ''

  &::after
    clear both

.slick-loading .slick-track
  visibility hidden

.slick-slide
  display none
  float left
  height auto
  min-height 1px

  img
    display block

[dir='rtl'] .slick-slide
  float right

.slick-slide.slick-loading img
  display none

.slick-slide.dragging img
  pointer-events none

.slick-initialized .slick-slide
  display block

.slick-loading .slick-slide
  visibility hidden

.slick-vertical .slick-slide
  display block
  height auto
  border 1px solid transparent

.slick-arrow.slick-hidden
  display none

.slick-dots
  display flex !important
  justify-content center
  margin-top 25px

  li
    cursor pointer
