<template>
  <div class="app">
    <Header />
    <MenuLeft :is_open="is_open_menu" />
    <SideBar />
    <main class="app__content">
      <Nuxt />
      <Footer />
    </main>
    <v-popup :is_open="is_open_search" @close="TOGGLE('is_open_search')">
      <Search />
    </v-popup>
    <v-popup :is_open="is_open_login" @close="TOGGLE('is_open_login')">
      <Login />
    </v-popup>
    <v-popup :is_open="is_open_call_back" @close="TOGGLE('is_open_call_back')">
      <call-back />
    </v-popup>
    <v-popup
      :is_open="is_open_message_send"
      @close="TOGGLE('is_open_message_send')"
    >
      <message-send />
    </v-popup>
  </div>
</template>

<script>
  import Header from '@/components/header'
  import MenuLeft from '@/components/menu-left'
  import SideBar from '@/components/sidebar'
  import vPopup from '@/components/v-modules/v-popup'
  import Search from '@/components/search'
  import Login from '@/components/login'
  import callBack from '@/components/call-back'
  import messageSend from '@/components/message-send'
  import Footer from '@/components/footer'
  import { mapState, mapActions } from 'vuex'

  export default {
    computed: {
      ...mapState('boolean', [
        'is_open_search',
        'is_open_call_back',
        'is_open_menu',
        'is_open_login',
        'is_open_message_send'
      ])
    },
    methods: {
      ...mapActions('localStorage', ['GET_FAVORITES']),
      ...mapActions('boolean', ['TOGGLE'])
    },
    async mounted() {
      await this.GET_FAVORITES()
    },
    components: {
      Header,
      MenuLeft,
      SideBar,
      vPopup,
      Search,
      Login,
      callBack,
      messageSend,
      Footer
    }
  }
</script>

<style lang="stylus">
  .app
    display flex
    height 100vh
    overflow auto
    position relative

    &__content
      width 100%
      padding-top 55px
      display flex
      flex-direction column

      +media-width-up($md)
        padding-top 85px

      +media-width-up($xl)
        width calc(100% - 85px)
</style>
