<template>
  <div class="container">
    <new-offers />
    {{ offersThisPage }}
  </div>
</template>

<script>
  import newOffers from '@/components/Home/newOffers'
  import { mapGetters } from 'vuex'

  export default {
    name: 'favorites',
    asyncData({ route }) {
      return {
        queryFavorFromUrl: route.query.favor
      }
    },
    computed: {
      ...mapGetters('localStorage', ['favorites']),
      offersThisPage() {
        return this.queryFavorFromUrl || this.favorites
      }
    },
    components: { newOffers }
  }
</script>
