<template>
  <div>
    <hero-block />
    <card-link />
    <new-offers :offers="offersData" />
    <help-block />
    <slider-block />
    <skills-block />
    <director-block />
    <preview-block />
    <subscribe-block />
    <destinations-block />
  </div>
</template>

<script>
  import heroBlock from '@/components/Home/heroBlock'
  import cardLink from '@/components/Home/cardLink'
  import newOffers from '@/components/Home/newOffers'
  import helpBlock from '@/components/helpBlock'
  import sliderBlock from '@/components/Home/sliderBlock'
  import skillsBlock from '@/components/Home/skillsBlock'
  import directorBlock from '@/components/Home/directorBlock'
  import previewBlock from '@/components/Home/previewBlock'
  import subscribeBlock from '@/components/Home/subscribeBlock'
  import destinationsBlock from '@/components/Home/destinationsBlock'

  import { mapState } from 'vuex'

  export default {
    name: 'home-page',
    async asyncData({ params, query, error, store }) {
      try {
        await store.dispatch('districts/GET_DISTRICTS')
        await store.dispatch('offers/GET_OFFERS_DATA', {
          params: { category: 'elitnie-kvartiry' },
          query: { new: true }
        })
      } catch (err) {
        console.log(err)
        return error({
          statusCode: 404,
          message: 'Сервер не доступен'
        })
      }
    },
    computed: {
      ...mapState('offers', ['offersData'])
    },
    components: {
      heroBlock,
      cardLink,
      newOffers,
      helpBlock,
      sliderBlock,
      skillsBlock,
      directorBlock,
      previewBlock,
      subscribeBlock,
      destinationsBlock
    }
  }
</script>
