<template>
  <div>
    <hero-block :title="title" />
    <component :is="$route.params.category"></component>
    <content-block />
    <help-block />
  </div>
</template>

<script>
  import heroBlock from '@/components/Categories/heroBlock'
  import urbanFilter from '@/components/Categories/Filters/urban'
  import flatNewFilter from '@/components/Categories/Filters/flatNew'
  import contentBlock from '@/components/Categories/contentBlock'
  import helpBlock from '@/components/helpBlock'
  import { mapState, mapGetters } from 'vuex'

  export default {
    name: 'category',
    validate({ params, store }) {
      return store.getters['menu/routeToCategory'].includes(params.category)
    },
    async asyncData({ params, query, error, store }) {
      try {
        await store.dispatch('districts/GET_DISTRICTS')
        await store.dispatch('offers/GET_OFFERS_DATA', {
          params,
          query
        })
        await store.dispatch('seo/GET_SEO', {
          category: params.category,
          subCategory: params.district
        })
      } catch (err) {
        console.log(err)
        return error({
          statusCode: 404,
          message: 'Сервер не доступен'
        })
      }
    },
    head() {
      return {
        title: `${this.title} | Contact Real Estate`,
        meta: [
          {
            hid: 'description',
            name: 'description',
            content: this.seoItem?.description
          }
        ]
      }
    },
    computed: {
      ...mapState('offers', ['offersData']),
      ...mapState('districts', ['districts']),
      ...mapState('seo', ['seoItem']),
      ...mapGetters('seo', ['title'])
    },
    watch: {
      $route({ params, query }) {
        this.$store.dispatch('offers/GET_OFFERS_DATA', {
          params,
          query
        })
      }
    },
    components: {
      heroBlock,
      urbanFilter,
      'elitnie-kvartiry': flatNewFilter,
      'elitnie-novostroyki': flatNewFilter,
      'prodazha-apartaments': urbanFilter,
      'prodazha-penthouse': urbanFilter,
      'townhouses-moskva': urbanFilter,
      'elitnie-kvartiry-v-arendu': urbanFilter,
      contentBlock,
      helpBlock
    }
  }
</script>
